stepfunctions/state_machine.json
{
  "Comment": "financial-analytics-orchestrator - Phase 3 dbt-athena build orchestration + Phase 4 CLOSE marts verify extension (session 5). Sequence: (1) Glue Python Shell runs dbtRunner build (Risk 24 one process per invocation, Risk 25 exit-code-only success); (2) Athena .sync runs a single-row sanity check on hub_company; (3) Parallel state fans out across all 14 sql/verify/03-16 structural verify queries \u2014 10 warehouse + business_vault branches (sql/verify/03-12, Phase 2) plus 4 marts branches (sql/verify/13-16, Phase 4). Risk 36: Parallel state fails fast on any sibling error - first regressing verify halts the other thirteen, surfacing the failure immediately. Risk 37 (256 KiB task/state input+output cap, Standard workflows): largest inlined query ~9.7 KiB, aggregate Parallel output ~few KiB per branch metadata object - well under cap at current scale. forecast.py orchestration deferred per Phase 4 session 5 direction-check (Option A) - annual cadence doesn't fit per-run dbt rhythm; production-shape forecast orchestration is a Phase 6 stretch concern.",
  "StartAt": "RunDbtBuildOnGlue",
  "States": {
    "RunDbtBuildOnGlue": {
      "Type": "Task",
      "Resource": "arn:aws:states:::glue:startJobRun.sync",
      "Parameters": {
        "JobName": "financial-analytics-dbt-build"
      },
      "ResultPath": "$.glueRun",
      "Next": "VerifyHubCompanyRowCount"
    },
    "VerifyHubCompanyRowCount": {
      "Type": "Task",
      "Resource": "arn:aws:states:::athena:startQueryExecution.sync",
      "Parameters": {
        "QueryString": "SELECT COUNT(*) AS hub_company_row_count FROM financial_analytics_silver.hub_company",
        "WorkGroup": "wg_financial_analytics",
        "QueryExecutionContext": {
          "Catalog": "awsdatacatalog",
          "Database": "financial_analytics_silver"
        }
      },
      "ResultPath": "$.verifyHubCompany",
      "Next": "VerifyStructuralSurface"
    },
    "VerifyStructuralSurface": {
      "Type": "Parallel",
      "ResultPath": "$.verifyStructuralSurface",
      "Branches": [
        {
          "StartAt": "VerifyWarehouseHubCompany",
          "States": {
            "VerifyWarehouseHubCompany": {
              "Type": "Task",
              "Resource": "arn:aws:states:::athena:startQueryExecution.sync",
              "Parameters": {
                "QueryString": "-- sql/verify/03_phase2_warehouse_verification.sql\n--\n-- Phase 2 session 4 \u2014 first warehouse-layer Data Vault 2.0 hub model\n-- (hub_company). Structural verification surface complementing dbt's\n-- schema tests on the same model. Standalone re-runnable artefact \u2014\n-- paste the whole thing into Athena Query Editor under workgroup\n-- wg_financial_analytics signed in as phil-admin, region us-east-1.\n--\n-- Checks 9 invariants:\n--\n--   1. Hub row count = 100 (S&P 100 universe parity).\n--   2. hub_company_hk is unique across all rows.\n--   3. hub_company_hk is NOT NULL across all rows.\n--   4. hub_company_hk is exactly 64 hex chars (SHA-256 length contract \u2014\n--      32-byte digest, hex-encoded, always 64 chars).\n--   5. cik (business key) is unique across all rows.\n--   6. Hub row count = source distinct CIK count in\n--      stg_sec_edgar__companyfacts (lineage parity).\n--   7. Apple (cik '0000320193') hash matches deterministic recomputation\n--      of to_hex(sha256(to_utf8(CAST('0000320193' AS varchar)))) \u2014 proves\n--      hash reproducibility AND that the in-model function chain\n--      produced the expected output. Same input \u2192 same hash, always.\n--   8. load_datetime is NOT NULL and within reasonable UTC bounds\n--      (>= 2026-01-01 and <= current UTC time).\n--   9. record_source = 'sec_edgar.companyfacts' for every row (single\n--      source this session; future multi-source loads relax this check).\n--\n-- Idempotency check is separately performed by re-running\n--   dotenv -f ..\\.env run -- dbt run --select hub_company\n-- Expected output: NO-OP (0 rows merged) per the is_incremental\n-- source-side filter excluding seen-before hash keys.\n--\n-- Schema tests in dbt/models/warehouse/_models.yml cover checks 2, 3, 5\n-- structurally; this verify suite restates them in raw queryable form\n-- (portfolio-grade \u2014 every check is auditable from one paste-able SQL\n-- artifact) and adds 4, 6, 7, 8, 9 which YAML schema tests can't express.\n\nWITH checks AS (\n    SELECT\n        'check_01_hub_row_count' AS check_name,\n        CAST(100 AS bigint) AS expected,\n        (SELECT COUNT(*) FROM financial_analytics_silver.hub_company) AS actual\n\n    UNION ALL SELECT\n        'check_02_hk_unique',\n        (SELECT COUNT(*) FROM financial_analytics_silver.hub_company),\n        (SELECT COUNT(DISTINCT hub_company_hk) FROM financial_analytics_silver.hub_company)\n\n    UNION ALL SELECT\n        'check_03_hk_not_null',\n        (SELECT COUNT(*) FROM financial_analytics_silver.hub_company),\n        (SELECT COUNT(hub_company_hk) FROM financial_analytics_silver.hub_company)\n\n    UNION ALL SELECT\n        'check_04_hk_length_64',\n        (SELECT COUNT(*) FROM financial_analytics_silver.hub_company),\n        (SELECT COUNT(*) FROM financial_analytics_silver.hub_company WHERE length(hub_company_hk) = 64)\n\n    UNION ALL SELECT\n        'check_05_cik_unique',\n        (SELECT COUNT(*) FROM financial_analytics_silver.hub_company),\n        (SELECT COUNT(DISTINCT cik) FROM financial_analytics_silver.hub_company)\n\n    UNION ALL SELECT\n        'check_06_source_parity',\n        (SELECT COUNT(DISTINCT cik) FROM financial_analytics_silver.stg_sec_edgar__companyfacts),\n        (SELECT COUNT(*) FROM financial_analytics_silver.hub_company)\n\n    UNION ALL SELECT\n        'check_07_apple_hash_reproducible',\n        CAST(1 AS bigint),\n        (SELECT COUNT(*)\n         FROM financial_analytics_silver.hub_company\n         WHERE cik = '0000320193'\n           AND hub_company_hk = to_hex(sha256(to_utf8(CAST('0000320193' AS varchar)))))\n\n    UNION ALL SELECT\n        'check_08_load_datetime_valid',\n        (SELECT COUNT(*) FROM financial_analytics_silver.hub_company),\n        (SELECT COUNT(*) FROM financial_analytics_silver.hub_company\n         WHERE load_datetime IS NOT NULL\n           AND load_datetime >= TIMESTAMP '2026-01-01 00:00:00'\n           AND load_datetime <= CAST(current_timestamp AT TIME ZONE 'UTC' AS timestamp(6)))\n\n    UNION ALL SELECT\n        'check_09_record_source_constant',\n        (SELECT COUNT(*) FROM financial_analytics_silver.hub_company),\n        (SELECT COUNT(*) FROM financial_analytics_silver.hub_company WHERE record_source = 'sec_edgar.companyfacts')\n)\n\nSELECT\n    check_name,\n    expected,\n    actual,\n    CASE WHEN expected = actual THEN 'PASS' ELSE 'FAIL' END AS result\nFROM checks\nORDER BY check_name;\n",
                "WorkGroup": "wg_financial_analytics",
                "QueryExecutionContext": {
                  "Catalog": "awsdatacatalog",
                  "Database": "financial_analytics_silver"
                }
              },
              "End": true
            }
          }
        },
        {
          "StartAt": "VerifyWarehouseLinks",
          "States": {
            "VerifyWarehouseLinks": {
              "Type": "Task",
              "Resource": "arn:aws:states:::athena:startQueryExecution.sync",
              "Parameters": {
                "QueryString": "-- sql/verify/04_phase2_warehouse_links_verification.sql\n--\n-- Phase 2 session 5 \u2014 second + third warehouse-layer Data Vault 2.0\n-- models. hub_filing (second hub, accession_number business key) +\n-- link_company_filing (first link, composite hash over (cik,\n-- accession_number) with '||' delimiter). Structural verification\n-- surface complementing dbt schema tests. Standalone re-runnable\n-- artefact \u2014 paste the whole thing into Athena Query Editor under\n-- workgroup wg_financial_analytics signed in as phil-admin, region\n-- us-east-1.\n--\n-- Checks 13 invariants (5 on hub_filing, 8 on link_company_filing):\n--\n-- hub_filing:\n--   1. hub_filing_hk is unique across all rows.\n--   2. hub_filing_hk is NOT NULL across all rows.\n--   3. hub_filing_hk is exactly 64 hex chars (SHA-256 length contract).\n--   4. accession_number (business key) is unique across all rows.\n--   5. hub_filing row count = source distinct accession_number count\n--      across the 8 in-scope concepts in the companyfacts JSON\n--      (lineage parity).\n--\n-- link_company_filing:\n--   6. link_company_filing_hk is unique across all rows.\n--   7. link_company_filing_hk is NOT NULL across all rows.\n--   8. link_company_filing_hk is exactly 64 hex chars.\n--   9. Composite-hash determinism \u2014 Apple's earliest extracted\n--      accession_number recomputed via\n--      to_hex(sha256(to_utf8('0000320193' || '||' || <accn>)))\n--      matches the stored link hash. Proves the '||' delimiter and\n--      function chain reproduce.\n--  10. FK closure to hub_company \u2014 every link.hub_company_hk exists\n--      in hub_company.hub_company_hk (no orphan FKs).\n--  11. FK closure to hub_filing \u2014 every link.hub_filing_hk exists in\n--      hub_filing.hub_filing_hk (no orphan FKs).\n--  12. Link row count = source distinct (cik, accession_number) pair\n--      count across the 8 in-scope concepts (lineage parity).\n--  13. Each link.cik is a substring-or-equal match to one of the\n--      100 hub_company.cik values AND each link.accession_number\n--      matches one of the hub_filing.accession_number values\n--      (cardinality sanity \u2014 link populates with no rows referencing\n--      keys that aren't in either parent hub).\n--\n-- Idempotency check is separately performed by re-running\n--   dotenv -f ..\\.env run -- dbt run --select hub_filing link_company_filing\n-- Expected output: NO-OP (0 rows merged) per the is_incremental\n-- source-side filter on each model.\n--\n-- Schema tests in dbt/models/warehouse/_models.yml cover the\n-- relationships + unique + not_null contracts; this verify suite\n-- restates them in raw queryable form plus adds the SHA-256-length,\n-- lineage-parity, and composite-hash-determinism checks YAML can't\n-- express.\n\nWITH all_source_pairs AS (\n    -- Recompute the source-side (cik, accession_number) surface the\n    -- same way hub_filing + link_company_filing do \u2014 UNNEST per concept,\n    -- UNION ALL the 8 in-scope concepts. Same shape as the warehouse\n    -- model bodies; just hand-unrolled here since this is raw SQL\n    -- (no Jinja loop available outside dbt).\n    SELECT s.cik, json_extract_scalar(t.period_json, '$.accn') AS accession_number\n    FROM financial_analytics_silver.stg_sec_edgar__companyfacts_raw s\n    CROSS JOIN UNNEST(CAST(json_extract(s.json_text, '$.facts[\"us-gaap\"].Revenues.units.USD') AS ARRAY(JSON))) AS t(period_json)\n    UNION ALL\n    SELECT s.cik, json_extract_scalar(t.period_json, '$.accn')\n    FROM financial_analytics_silver.stg_sec_edgar__companyfacts_raw s\n    CROSS JOIN UNNEST(CAST(json_extract(s.json_text, '$.facts[\"us-gaap\"].SalesRevenueNet.units.USD') AS ARRAY(JSON))) AS t(period_json)\n    UNION ALL\n    SELECT s.cik, json_extract_scalar(t.period_json, '$.accn')\n    FROM financial_analytics_silver.stg_sec_edgar__companyfacts_raw s\n    CROSS JOIN UNNEST(CAST(json_extract(s.json_text, '$.facts[\"us-gaap\"].RevenueFromContractWithCustomerExcludingAssessedTax.units.USD') AS ARRAY(JSON))) AS t(period_json)\n    UNION ALL\n    SELECT s.cik, json_extract_scalar(t.period_json, '$.accn')\n    FROM financial_analytics_silver.stg_sec_edgar__companyfacts_raw s\n    CROSS JOIN UNNEST(CAST(json_extract(s.json_text, '$.facts[\"us-gaap\"].RevenueFromContractWithCustomerIncludingAssessedTax.units.USD') AS ARRAY(JSON))) AS t(period_json)\n    UNION ALL\n    SELECT s.cik, json_extract_scalar(t.period_json, '$.accn')\n    FROM financial_analytics_silver.stg_sec_edgar__companyfacts_raw s\n    CROSS JOIN UNNEST(CAST(json_extract(s.json_text, '$.facts[\"us-gaap\"].NetIncomeLoss.units.USD') AS ARRAY(JSON))) AS t(period_json)\n    UNION ALL\n    SELECT s.cik, json_extract_scalar(t.period_json, '$.accn')\n    FROM financial_analytics_silver.stg_sec_edgar__companyfacts_raw s\n    CROSS JOIN UNNEST(CAST(json_extract(s.json_text, '$.facts[\"us-gaap\"].Assets.units.USD') AS ARRAY(JSON))) AS t(period_json)\n    UNION ALL\n    SELECT s.cik, json_extract_scalar(t.period_json, '$.accn')\n    FROM financial_analytics_silver.stg_sec_edgar__companyfacts_raw s\n    CROSS JOIN UNNEST(CAST(json_extract(s.json_text, '$.facts[\"us-gaap\"].Liabilities.units.USD') AS ARRAY(JSON))) AS t(period_json)\n    UNION ALL\n    SELECT s.cik, json_extract_scalar(t.period_json, '$.accn')\n    FROM financial_analytics_silver.stg_sec_edgar__companyfacts_raw s\n    CROSS JOIN UNNEST(CAST(json_extract(s.json_text, '$.facts[\"us-gaap\"].StockholdersEquity.units.USD') AS ARRAY(JSON))) AS t(period_json)\n),\n\nsource_pairs AS (\n    SELECT DISTINCT cik, accession_number\n    FROM all_source_pairs\n    WHERE accession_number IS NOT NULL\n),\n\napple_accn AS (\n    -- One specific (cik, accession_number) pair for the determinism\n    -- check \u2014 pick the lexicographically smallest Apple accession to\n    -- keep the check stable across re-runs.\n    SELECT MIN(accession_number) AS accn\n    FROM source_pairs\n    WHERE cik = '0000320193'\n),\n\nchecks AS (\n\n    -- ===== hub_filing =====\n\n    SELECT\n        'check_01_hubf_hk_unique' AS check_name,\n        (SELECT COUNT(*) FROM financial_analytics_silver.hub_filing) AS expected,\n        (SELECT COUNT(DISTINCT hub_filing_hk) FROM financial_analytics_silver.hub_filing) AS actual\n\n    UNION ALL SELECT\n        'check_02_hubf_hk_not_null',\n        (SELECT COUNT(*) FROM financial_analytics_silver.hub_filing),\n        (SELECT COUNT(hub_filing_hk) FROM financial_analytics_silver.hub_filing)\n\n    UNION ALL SELECT\n        'check_03_hubf_hk_length_64',\n        (SELECT COUNT(*) FROM financial_analytics_silver.hub_filing),\n        (SELECT COUNT(*) FROM financial_analytics_silver.hub_filing WHERE length(hub_filing_hk) = 64)\n\n    UNION ALL SELECT\n        'check_04_hubf_accn_unique',\n        (SELECT COUNT(*) FROM financial_analytics_silver.hub_filing),\n        (SELECT COUNT(DISTINCT accession_number) FROM financial_analytics_silver.hub_filing)\n\n    UNION ALL SELECT\n        'check_05_hubf_source_parity',\n        (SELECT COUNT(DISTINCT accession_number) FROM source_pairs),\n        (SELECT COUNT(*) FROM financial_analytics_silver.hub_filing)\n\n    -- ===== link_company_filing =====\n\n    UNION ALL SELECT\n        'check_06_link_hk_unique',\n        (SELECT COUNT(*) FROM financial_analytics_silver.link_company_filing),\n        (SELECT COUNT(DISTINCT link_company_filing_hk) FROM financial_analytics_silver.link_company_filing)\n\n    UNION ALL SELECT\n        'check_07_link_hk_not_null',\n        (SELECT COUNT(*) FROM financial_analytics_silver.link_company_filing),\n        (SELECT COUNT(link_company_filing_hk) FROM financial_analytics_silver.link_company_filing)\n\n    UNION ALL SELECT\n        'check_08_link_hk_length_64',\n        (SELECT COUNT(*) FROM financial_analytics_silver.link_company_filing),\n        (SELECT COUNT(*) FROM financial_analytics_silver.link_company_filing WHERE length(link_company_filing_hk) = 64)\n\n    UNION ALL SELECT\n        'check_09_link_composite_hash_reproducible',\n        CAST(1 AS bigint),\n        (SELECT COUNT(*)\n         FROM financial_analytics_silver.link_company_filing l\n         CROSS JOIN apple_accn a\n         WHERE l.cik = '0000320193'\n           AND l.accession_number = a.accn\n           AND l.link_company_filing_hk = to_hex(sha256(to_utf8(\n                   CAST('0000320193' AS varchar) || '||' || CAST(a.accn AS varchar)\n               ))))\n\n    UNION ALL SELECT\n        'check_10_link_fk_closure_company',\n        (SELECT COUNT(*) FROM financial_analytics_silver.link_company_filing),\n        (SELECT COUNT(*)\n         FROM financial_analytics_silver.link_company_filing l\n         INNER JOIN financial_analytics_silver.hub_company h\n           ON l.hub_company_hk = h.hub_company_hk)\n\n    UNION ALL SELECT\n        'check_11_link_fk_closure_filing',\n        (SELECT COUNT(*) FROM financial_analytics_silver.link_company_filing),\n        (SELECT COUNT(*)\n         FROM financial_analytics_silver.link_company_filing l\n         INNER JOIN financial_analytics_silver.hub_filing h\n           ON l.hub_filing_hk = h.hub_filing_hk)\n\n    UNION ALL SELECT\n        'check_12_link_source_parity',\n        (SELECT COUNT(*) FROM source_pairs),\n        (SELECT COUNT(*) FROM financial_analytics_silver.link_company_filing)\n\n    UNION ALL SELECT\n        'check_13_link_business_keys_match_hubs',\n        (SELECT COUNT(*) FROM financial_analytics_silver.link_company_filing),\n        (SELECT COUNT(*)\n         FROM financial_analytics_silver.link_company_filing l\n         INNER JOIN financial_analytics_silver.hub_company hc\n           ON l.cik = hc.cik\n         INNER JOIN financial_analytics_silver.hub_filing hf\n           ON l.accession_number = hf.accession_number)\n)\n\nSELECT\n    check_name,\n    expected,\n    actual,\n    CASE WHEN expected = actual THEN 'PASS' ELSE 'FAIL' END AS result\nFROM checks\nORDER BY check_name;\n",
                "WorkGroup": "wg_financial_analytics",
                "QueryExecutionContext": {
                  "Catalog": "awsdatacatalog",
                  "Database": "financial_analytics_silver"
                }
              },
              "End": true
            }
          }
        },
        {
          "StartAt": "VerifyWarehouseSatellites",
          "States": {
            "VerifyWarehouseSatellites": {
              "Type": "Task",
              "Resource": "arn:aws:states:::athena:startQueryExecution.sync",
              "Parameters": {
                "QueryString": "-- sql/verify/05_phase2_warehouse_satellites_verification.sql\n--\n-- Phase 2 session 6 \u2014 first warehouse-layer Data Vault 2.0 satellite:\n-- sat_filing_metadata. Parent = hub_filing (accession_number business\n-- key). 2 truly filing-level payload attributes (form_type, filed_date).\n-- 1:1 cardinality with hub_filing on first load \u2014 every parent has\n-- exactly one sat row when no history has accumulated.\n--\n-- Scope note. Initially scoped at session 6 kickoff with 4 additional\n-- per-period-instance payload columns (period_start_date,\n-- period_end_date, fiscal_year, fiscal_period); trimmed at first-run\n-- time after the cardinality miss surfaced (45,851 rows \u2260 expected\n-- 6,551). See LEARNINGS Risk 12 (2026-05-28). Those columns belong on\n-- a future model class (hub_period + link_filing_period, OR baked\n-- into sat_concept_value).\n--\n-- Standalone re-runnable artefact \u2014 paste the whole thing into Athena\n-- Query Editor under workgroup wg_financial_analytics signed in as\n-- phil-admin, region us-east-1.\n--\n-- Checks 11 invariants on sat_filing_metadata:\n--\n--   1. sat_filing_metadata_hk is unique across all rows.\n--   2. sat_filing_metadata_hk is NOT NULL across all rows.\n--   3. sat_filing_metadata_hk is exactly 64 hex chars (SHA-256\n--      length contract).\n--   4. hashdiff is NOT NULL across all rows. Proves the\n--      COALESCE-sentinel pattern (LEARNINGS Risk 8) is in place \u2014\n--      defensive standard even though both payload columns are\n--      reliably populated upstream.\n--   5. hashdiff is exactly 64 hex chars (SHA-256 length contract).\n--   6. FK closure to hub_filing \u2014 every sat row's hub_filing_hk\n--      exists in hub_filing.hub_filing_hk (no orphan FKs).\n--   7. Composite natural PK (hub_filing_hk, load_datetime) is\n--      unique across all rows. Independently confirms the DV2.0\n--      textbook contract that the engine-level single-column\n--      unique_key on sat_filing_metadata_hk enforces.\n--   8. Parent coverage parity \u2014 sat row count = distinct\n--      hub_filing_hk in sat = hub_filing row count on first load\n--      (1:1 cardinality invariant). This is the check that\n--      surfaced the original scope miss; it's now the cheapest\n--      structural guard for the satellite 1:1 contract.\n--   9. sat_filing_metadata_hk determinism on Apple's\n--      lexicographically smallest accession \u2014 recomputes\n--      to_hex(sha256(to_utf8(hub_filing_hk || '||' ||\n--      CAST(load_datetime AS varchar)))) and confirms the stored\n--      hash matches. Proves the sat-hash function chain\n--      reproduces deterministically (Risk 10).\n--  10. hashdiff determinism on Apple's smallest accession \u2014\n--      recomputes the full COALESCE-protected 2-column payload\n--      hash and confirms the stored hashdiff matches. Proves the\n--      hashdiff chain (Risk 8) reproduces.\n--  11. record_source is constant 'sec_edgar.companyfacts' on every\n--      row (single source this session; lineage contract).\n--\n-- Idempotency check is separately performed by re-running\n--   dotenv -f ..\\.env run -- dbt run --select sat_filing_metadata\n-- Expected output: NO-OP (0 rows merged) per the is_incremental\n-- NOT EXISTS anti-join filter on the model \u2014 the latest stored\n-- hashdiff for every parent matches the inbound recomputed\n-- hashdiff (payload unchanged), so the anti-join excludes every\n-- inbound row from the merge.\n--\n-- Schema tests in dbt/models/warehouse/_models.yml cover the\n-- relationships + unique + not_null + composite natural PK\n-- contracts; this verify suite restates them in raw queryable form\n-- plus adds the SHA-256-length, parent-coverage parity, and\n-- hash-determinism checks YAML can't express.\n\nWITH apple_sample AS (\n    -- Apple's smallest-accession satellite row \u2014 pick one\n    -- deterministic row for the hash-recompute checks. MIN over\n    -- accession_number is stable across runs.\n    SELECT\n        s.sat_filing_metadata_hk,\n        s.hashdiff,\n        s.hub_filing_hk,\n        s.accession_number,\n        s.form_type,\n        s.filed_date,\n        s.load_datetime\n    FROM financial_analytics_silver.sat_filing_metadata s\n    INNER JOIN financial_analytics_silver.hub_filing hf\n        ON s.hub_filing_hk = hf.hub_filing_hk\n    WHERE hf.accession_number = (\n        SELECT MIN(hf2.accession_number)\n        FROM financial_analytics_silver.hub_filing hf2\n        INNER JOIN financial_analytics_silver.link_company_filing l\n            ON hf2.hub_filing_hk = l.hub_filing_hk\n        WHERE l.cik = '0000320193'\n    )\n),\n\nchecks AS (\n\n    SELECT\n        'check_01_sat_hk_unique' AS check_name,\n        (SELECT COUNT(*) FROM financial_analytics_silver.sat_filing_metadata) AS expected,\n        (SELECT COUNT(DISTINCT sat_filing_metadata_hk) FROM financial_analytics_silver.sat_filing_metadata) AS actual\n\n    UNION ALL SELECT\n        'check_02_sat_hk_not_null',\n        (SELECT COUNT(*) FROM financial_analytics_silver.sat_filing_metadata),\n        (SELECT COUNT(sat_filing_metadata_hk) FROM financial_analytics_silver.sat_filing_metadata)\n\n    UNION ALL SELECT\n        'check_03_sat_hk_length_64',\n        (SELECT COUNT(*) FROM financial_analytics_silver.sat_filing_metadata),\n        (SELECT COUNT(*) FROM financial_analytics_silver.sat_filing_metadata WHERE length(sat_filing_metadata_hk) = 64)\n\n    UNION ALL SELECT\n        'check_04_hashdiff_not_null',\n        (SELECT COUNT(*) FROM financial_analytics_silver.sat_filing_metadata),\n        (SELECT COUNT(hashdiff) FROM financial_analytics_silver.sat_filing_metadata)\n\n    UNION ALL SELECT\n        'check_05_hashdiff_length_64',\n        (SELECT COUNT(*) FROM financial_analytics_silver.sat_filing_metadata),\n        (SELECT COUNT(*) FROM financial_analytics_silver.sat_filing_metadata WHERE length(hashdiff) = 64)\n\n    UNION ALL SELECT\n        'check_06_sat_fk_closure_filing',\n        (SELECT COUNT(*) FROM financial_analytics_silver.sat_filing_metadata),\n        (SELECT COUNT(*)\n         FROM financial_analytics_silver.sat_filing_metadata s\n         INNER JOIN financial_analytics_silver.hub_filing h\n           ON s.hub_filing_hk = h.hub_filing_hk)\n\n    UNION ALL SELECT\n        'check_07_sat_composite_pk_unique',\n        (SELECT COUNT(*) FROM financial_analytics_silver.sat_filing_metadata),\n        (SELECT COUNT(*)\n         FROM (\n             SELECT DISTINCT hub_filing_hk, load_datetime\n             FROM financial_analytics_silver.sat_filing_metadata\n         ))\n\n    UNION ALL SELECT\n        'check_08_sat_parent_coverage_parity',\n        (SELECT COUNT(*) FROM financial_analytics_silver.hub_filing),\n        (SELECT COUNT(DISTINCT hub_filing_hk) FROM financial_analytics_silver.sat_filing_metadata)\n\n    UNION ALL SELECT\n        'check_09_sat_hk_reproducible',\n        CAST(1 AS bigint),\n        (SELECT COUNT(*)\n         FROM apple_sample\n         WHERE sat_filing_metadata_hk = to_hex(sha256(to_utf8(\n               CAST(hub_filing_hk AS varchar) || '||' || CAST(load_datetime AS varchar)\n           ))))\n\n    UNION ALL SELECT\n        'check_10_hashdiff_reproducible',\n        CAST(1 AS bigint),\n        (SELECT COUNT(*)\n         FROM apple_sample\n         WHERE hashdiff = to_hex(sha256(to_utf8(\n               COALESCE(CAST(form_type AS varchar), '^^') || '||' ||\n               COALESCE(CAST(filed_date AS varchar), '^^')\n           ))))\n\n    UNION ALL SELECT\n        'check_11_record_source_constant',\n        (SELECT COUNT(*) FROM financial_analytics_silver.sat_filing_metadata),\n        (SELECT COUNT(*)\n         FROM financial_analytics_silver.sat_filing_metadata\n         WHERE record_source = 'sec_edgar.companyfacts')\n)\n\nSELECT\n    check_name,\n    expected,\n    actual,\n    CASE WHEN expected = actual THEN 'PASS' ELSE 'FAIL' END AS result\nFROM checks\nORDER BY check_name;\n",
                "WorkGroup": "wg_financial_analytics",
                "QueryExecutionContext": {
                  "Catalog": "awsdatacatalog",
                  "Database": "financial_analytics_silver"
                }
              },
              "End": true
            }
          }
        },
        {
          "StartAt": "VerifySatCompanyMetadata",
          "States": {
            "VerifySatCompanyMetadata": {
              "Type": "Task",
              "Resource": "arn:aws:states:::athena:startQueryExecution.sync",
              "Parameters": {
                "QueryString": "-- sql/verify/06_phase2_warehouse_sat_company_metadata_verification.sql\n--\n-- Phase 2 session 7 \u2014 second warehouse-layer Data Vault 2.0 satellite:\n-- sat_company_metadata. Parent = hub_company (cik business key). 1\n-- company-level payload attribute (entity_name) from the SEC EDGAR\n-- companyfacts JSON cover-page section. 1:1 cardinality with\n-- hub_company on first load \u2014 every parent has exactly one sat row\n-- when no history has accumulated.\n--\n-- Forward-verify pass at session 7 kickoff surfaced an empirical\n-- cardinality fact (LEARNINGS Risk 13 candidate, 2026-05-28): Bronze\n-- raw-text has 101 rows / 100 distinct CIKs / 2 distinct extract_dates\n-- / 100 distinct entityNames \u2014 one CIK was extracted twice with the\n-- SAME entityName both times. DISTINCT (cik, entity_name) collapses\n-- the model's source-side to 100 rows; expected first-load sat row\n-- count = 100 = hub_company parent count. Cardinality probe query\n-- preserved in DBT_PIPELINE.md section 8.14.\n--\n-- Standalone re-runnable artefact \u2014 paste the whole thing into Athena\n-- Query Editor under workgroup wg_financial_analytics signed in as\n-- phil-admin, region us-east-1.\n--\n-- Checks 11 invariants on sat_company_metadata:\n--\n--   1. sat_company_metadata_hk is unique across all rows.\n--   2. sat_company_metadata_hk is NOT NULL across all rows.\n--   3. sat_company_metadata_hk is exactly 64 hex chars (SHA-256\n--      length contract).\n--   4. hashdiff is NOT NULL across all rows. Proves the\n--      COALESCE-sentinel pattern (LEARNINGS Risk 8) is in place \u2014\n--      defensive standard even though entity_name is reliably\n--      populated upstream.\n--   5. hashdiff is exactly 64 hex chars (SHA-256 length contract).\n--   6. FK closure to hub_company \u2014 every sat row's hub_company_hk\n--      exists in hub_company.hub_company_hk (no orphan FKs).\n--   7. Composite natural PK (hub_company_hk, load_datetime) is unique\n--      across all rows. Independently confirms the DV2.0 textbook\n--      contract that the engine-level single-column unique_key on\n--      sat_company_metadata_hk enforces.\n--   8. Parent coverage parity \u2014 sat row count = distinct hub_company_hk\n--      in sat = hub_company row count on first load (1:1 cardinality\n--      invariant). Expected = 100 = S&P 100 universe size. This is\n--      the cheapest structural guard for the satellite 1:1 contract;\n--      Risk 13's empirical cardinality probe at the forward-verify\n--      pass is the design-time counterpart to this run-time check.\n--   9. sat_company_metadata_hk determinism on Apple (cik 0000320193) \u2014\n--      recomputes to_hex(sha256(to_utf8(hub_company_hk || '||' ||\n--      CAST(load_datetime AS varchar)))) and confirms the stored hash\n--      matches. Proves the sat-hash function chain reproduces\n--      deterministically (Risk 10).\n--  10. hashdiff determinism on Apple \u2014 recomputes the full\n--      COALESCE-protected single-column payload hash and confirms the\n--      stored hashdiff matches. Proves the hashdiff chain (Risk 8)\n--      reproduces. Single-column payload means no '||' delimiter\n--      inside the hashed expression.\n--  11. record_source is constant 'sec_edgar.companyfacts' on every\n--      row (single source this session; lineage contract).\n--\n-- Idempotency check is separately performed by re-running\n--   dotenv -f ..\\.env run -- dbt run --select sat_company_metadata\n-- Expected output: NO-OP (0 rows merged) per the is_incremental\n-- NOT EXISTS anti-join filter on the model \u2014 the latest stored\n-- hashdiff for every parent matches the inbound recomputed hashdiff\n-- (payload unchanged), so the anti-join excludes every inbound row\n-- from the merge.\n--\n-- Schema tests in dbt/models/warehouse/_models.yml cover the\n-- relationships + unique + not_null + composite natural PK contracts;\n-- this verify suite restates them in raw queryable form plus adds the\n-- SHA-256-length, parent-coverage parity, and hash-determinism checks\n-- YAML can't express.\n\nWITH apple_sample AS (\n    -- Apple's sat row \u2014 cik 0000320193 is the canonical test fixture\n    -- across every verify file in this project. 1:1 sat means exactly\n    -- one row per cik on first load.\n    SELECT\n        s.sat_company_metadata_hk,\n        s.hashdiff,\n        s.hub_company_hk,\n        s.cik,\n        s.entity_name,\n        s.load_datetime\n    FROM financial_analytics_silver.sat_company_metadata s\n    WHERE s.cik = '0000320193'\n),\n\nchecks AS (\n\n    SELECT\n        'check_01_sat_hk_unique' AS check_name,\n        (SELECT COUNT(*) FROM financial_analytics_silver.sat_company_metadata) AS expected,\n        (SELECT COUNT(DISTINCT sat_company_metadata_hk) FROM financial_analytics_silver.sat_company_metadata) AS actual\n\n    UNION ALL SELECT\n        'check_02_sat_hk_not_null',\n        (SELECT COUNT(*) FROM financial_analytics_silver.sat_company_metadata),\n        (SELECT COUNT(sat_company_metadata_hk) FROM financial_analytics_silver.sat_company_metadata)\n\n    UNION ALL SELECT\n        'check_03_sat_hk_length_64',\n        (SELECT COUNT(*) FROM financial_analytics_silver.sat_company_metadata),\n        (SELECT COUNT(*) FROM financial_analytics_silver.sat_company_metadata WHERE length(sat_company_metadata_hk) = 64)\n\n    UNION ALL SELECT\n        'check_04_hashdiff_not_null',\n        (SELECT COUNT(*) FROM financial_analytics_silver.sat_company_metadata),\n        (SELECT COUNT(hashdiff) FROM financial_analytics_silver.sat_company_metadata)\n\n    UNION ALL SELECT\n        'check_05_hashdiff_length_64',\n        (SELECT COUNT(*) FROM financial_analytics_silver.sat_company_metadata),\n        (SELECT COUNT(*) FROM financial_analytics_silver.sat_company_metadata WHERE length(hashdiff) = 64)\n\n    UNION ALL SELECT\n        'check_06_sat_fk_closure_company',\n        (SELECT COUNT(*) FROM financial_analytics_silver.sat_company_metadata),\n        (SELECT COUNT(*)\n         FROM financial_analytics_silver.sat_company_metadata s\n         INNER JOIN financial_analytics_silver.hub_company h\n           ON s.hub_company_hk = h.hub_company_hk)\n\n    UNION ALL SELECT\n        'check_07_sat_composite_pk_unique',\n        (SELECT COUNT(*) FROM financial_analytics_silver.sat_company_metadata),\n        (SELECT COUNT(*)\n         FROM (\n             SELECT DISTINCT hub_company_hk, load_datetime\n             FROM financial_analytics_silver.sat_company_metadata\n         ))\n\n    UNION ALL SELECT\n        'check_08_sat_parent_coverage_parity',\n        (SELECT COUNT(*) FROM financial_analytics_silver.hub_company),\n        (SELECT COUNT(DISTINCT hub_company_hk) FROM financial_analytics_silver.sat_company_metadata)\n\n    UNION ALL SELECT\n        'check_09_sat_hk_reproducible',\n        CAST(1 AS bigint),\n        (SELECT COUNT(*)\n         FROM apple_sample\n         WHERE sat_company_metadata_hk = to_hex(sha256(to_utf8(\n               CAST(hub_company_hk AS varchar) || '||' || CAST(load_datetime AS varchar)\n           ))))\n\n    UNION ALL SELECT\n        'check_10_hashdiff_reproducible',\n        CAST(1 AS bigint),\n        (SELECT COUNT(*)\n         FROM apple_sample\n         WHERE hashdiff = to_hex(sha256(to_utf8(\n               COALESCE(CAST(entity_name AS varchar), '^^')\n           ))))\n\n    UNION ALL SELECT\n        'check_11_record_source_constant',\n        (SELECT COUNT(*) FROM financial_analytics_silver.sat_company_metadata),\n        (SELECT COUNT(*)\n         FROM financial_analytics_silver.sat_company_metadata\n         WHERE record_source = 'sec_edgar.companyfacts')\n)\n\nSELECT\n    check_name,\n    expected,\n    actual,\n    CASE WHEN expected = actual THEN 'PASS' ELSE 'FAIL' END AS result\nFROM checks\nORDER BY check_name;\n",
                "WorkGroup": "wg_financial_analytics",
                "QueryExecutionContext": {
                  "Catalog": "awsdatacatalog",
                  "Database": "financial_analytics_silver"
                }
              },
              "End": true
            }
          }
        },
        {
          "StartAt": "VerifyHubConcept",
          "States": {
            "VerifyHubConcept": {
              "Type": "Task",
              "Resource": "arn:aws:states:::athena:startQueryExecution.sync",
              "Parameters": {
                "QueryString": "-- sql/verify/07_phase2_warehouse_hub_concept_verification.sql\n--\n-- Phase 2 session 8 \u2014 third warehouse-layer Data Vault 2.0 hub:\n-- hub_concept. Business key = canonical_concept. Expected 5 rows\n-- (revenue, net_income, assets, liabilities, stockholders_equity per\n-- session 8 forward-verify probe 1).\n--\n-- Standalone re-runnable artefact \u2014 paste the whole thing into Athena\n-- Query Editor under workgroup wg_financial_analytics signed in as\n-- phil-admin, region us-east-1.\n--\n-- Checks 8 invariants on hub_concept:\n--\n--   1. hub_concept_hk is unique across all rows.\n--   2. hub_concept_hk is NOT NULL across all rows.\n--   3. hub_concept_hk is exactly 64 hex chars (SHA-256 length contract).\n--   4. canonical_concept is unique across all rows (BK uniqueness).\n--   5. canonical_concept is NOT NULL across all rows.\n--   6. Source-coverage parity \u2014 hub row count = distinct\n--      canonical_concept count in int_sec_edgar__concepts_canonical\n--      (every observed canonical landed in the hub).\n--   7. hub_concept_hk determinism on 'revenue' \u2014 recomputes\n--      to_hex(sha256(to_utf8(CAST(canonical_concept AS varchar)))) and\n--      confirms the stored hash matches.\n--   8. record_source is constant 'sec_edgar.companyfacts' on every\n--      row (single source this session; lineage contract).\n--\n-- Idempotency check is separately performed by re-running\n--   dotenv -f ..\\.env run -- dbt run --select hub_concept\n-- Expected output: NO-OP per the is_incremental NOT IN filter \u2014 no new\n-- canonical concepts entering on a repeat extract.\n\nWITH revenue_sample AS (\n    SELECT hub_concept_hk, canonical_concept\n    FROM financial_analytics_silver.hub_concept\n    WHERE canonical_concept = 'revenue'\n),\n\nchecks AS (\n\n    SELECT\n        'check_01_hub_hk_unique' AS check_name,\n        (SELECT COUNT(*) FROM financial_analytics_silver.hub_concept) AS expected,\n        (SELECT COUNT(DISTINCT hub_concept_hk) FROM financial_analytics_silver.hub_concept) AS actual\n\n    UNION ALL SELECT\n        'check_02_hub_hk_not_null',\n        (SELECT COUNT(*) FROM financial_analytics_silver.hub_concept),\n        (SELECT COUNT(hub_concept_hk) FROM financial_analytics_silver.hub_concept)\n\n    UNION ALL SELECT\n        'check_03_hub_hk_length_64',\n        (SELECT COUNT(*) FROM financial_analytics_silver.hub_concept),\n        (SELECT COUNT(*) FROM financial_analytics_silver.hub_concept WHERE length(hub_concept_hk) = 64)\n\n    UNION ALL SELECT\n        'check_04_bk_unique',\n        (SELECT COUNT(*) FROM financial_analytics_silver.hub_concept),\n        (SELECT COUNT(DISTINCT canonical_concept) FROM financial_analytics_silver.hub_concept)\n\n    UNION ALL SELECT\n        'check_05_bk_not_null',\n        (SELECT COUNT(*) FROM financial_analytics_silver.hub_concept),\n        (SELECT COUNT(canonical_concept) FROM financial_analytics_silver.hub_concept)\n\n    UNION ALL SELECT\n        'check_06_source_coverage_parity',\n        (SELECT COUNT(DISTINCT canonical_concept)\n         FROM financial_analytics_silver.int_sec_edgar__concepts_canonical\n         WHERE canonical_concept IS NOT NULL),\n        (SELECT COUNT(*) FROM financial_analytics_silver.hub_concept)\n\n    UNION ALL SELECT\n        'check_07_hub_hk_reproducible',\n        CAST(1 AS bigint),\n        (SELECT COUNT(*)\n         FROM revenue_sample\n         WHERE hub_concept_hk = to_hex(sha256(to_utf8(\n               CAST(canonical_concept AS varchar)\n           ))))\n\n    UNION ALL SELECT\n        'check_08_record_source_constant',\n        (SELECT COUNT(*) FROM financial_analytics_silver.hub_concept),\n        (SELECT COUNT(*)\n         FROM financial_analytics_silver.hub_concept\n         WHERE record_source = 'sec_edgar.companyfacts')\n)\n\nSELECT\n    check_name,\n    expected,\n    actual,\n    CASE WHEN expected = actual THEN 'PASS' ELSE 'FAIL' END AS result\nFROM checks\nORDER BY check_name;\n",
                "WorkGroup": "wg_financial_analytics",
                "QueryExecutionContext": {
                  "Catalog": "awsdatacatalog",
                  "Database": "financial_analytics_silver"
                }
              },
              "End": true
            }
          }
        },
        {
          "StartAt": "VerifyLinkFilingConceptPeriod",
          "States": {
            "VerifyLinkFilingConceptPeriod": {
              "Type": "Task",
              "Resource": "arn:aws:states:::athena:startQueryExecution.sync",
              "Parameters": {
                "QueryString": "-- sql/verify/08_phase2_warehouse_link_filing_concept_period_verification.sql\n--\n-- Phase 2 session 8 \u2014 second warehouse-layer Data Vault 2.0 link:\n-- link_filing_concept_period. 3-way STANDARD link associating\n-- hub_company (cik) + hub_filing (accession_number) + hub_concept\n-- (canonical_concept) with the per-period observation grain. Expected\n-- 89,821 rows (1:1 with sat_concept_value confirmed via composite-PK\n-- dbt test PASS).\n--\n-- Standalone re-runnable artefact \u2014 paste the whole thing into Athena\n-- Query Editor under workgroup wg_financial_analytics signed in as\n-- phil-admin, region us-east-1.\n--\n-- Checks 12 invariants on link_filing_concept_period:\n--\n--   1. link_filing_concept_period_hk is unique across all rows.\n--   2. link_filing_concept_period_hk is NOT NULL across all rows.\n--   3. link_filing_concept_period_hk is exactly 64 hex chars (SHA-256\n--      length contract).\n--   4. FK closure to hub_company \u2014 every link row's hub_company_hk\n--      exists in hub_company.hub_company_hk (no orphan FKs).\n--   5. FK closure to hub_filing \u2014 every link row's hub_filing_hk\n--      exists in hub_filing.hub_filing_hk.\n--   6. FK closure to hub_concept \u2014 every link row's hub_concept_hk\n--      exists in hub_concept.hub_concept_hk.\n--   7. Composite natural grain uniqueness \u2014 (cik, accession_number,\n--      canonical_concept, period_start_date, period_end_date,\n--      fiscal_year, fiscal_period) is unique across all rows. Proves\n--      the link's natural-PK contract directly (independently of the\n--      single-column hash unique_key).\n--   8. period_end_date is NOT NULL across all rows (required per SEC\n--      EDGAR semantics).\n--   9. cik / accession_number / canonical_concept are all NOT NULL\n--      across all rows (each is a participating BK in the composite).\n--  10. link_filing_concept_period_hk determinism on Apple's smallest\n--      accession + revenue + first observed period \u2014 recomputes the\n--      7-column composite hash and confirms the stored hash matches.\n--  11. FK hub_company_hk determinism on Apple \u2014 recomputes single-key\n--      hash of cik and confirms the stored FK hash matches.\n--  12. record_source is constant 'sec_edgar.companyfacts' on every row.\n--\n-- Idempotency check is separately performed by re-running\n--   dotenv -f ..\\.env run -- dbt run --select link_filing_concept_period\n-- Expected output: NO-OP per the is_incremental NOT IN filter.\n\nWITH apple_sample AS (\n    -- Apple's smallest-accession + revenue + lexicographically first\n    -- period \u2014 pick one deterministic row for the hash-recompute checks.\n    SELECT\n        l.link_filing_concept_period_hk,\n        l.hub_company_hk,\n        l.cik,\n        l.accession_number,\n        l.canonical_concept,\n        l.period_start_date,\n        l.period_end_date,\n        l.fiscal_year,\n        l.fiscal_period\n    FROM financial_analytics_silver.link_filing_concept_period l\n    WHERE l.cik = '0000320193'\n      AND l.canonical_concept = 'revenue'\n    ORDER BY l.accession_number, l.period_end_date\n    LIMIT 1\n),\n\nchecks AS (\n\n    SELECT\n        'check_01_link_hk_unique' AS check_name,\n        (SELECT COUNT(*) FROM financial_analytics_silver.link_filing_concept_period) AS expected,\n        (SELECT COUNT(DISTINCT link_filing_concept_period_hk) FROM financial_analytics_silver.link_filing_concept_period) AS actual\n\n    UNION ALL SELECT\n        'check_02_link_hk_not_null',\n        (SELECT COUNT(*) FROM financial_analytics_silver.link_filing_concept_period),\n        (SELECT COUNT(link_filing_concept_period_hk) FROM financial_analytics_silver.link_filing_concept_period)\n\n    UNION ALL SELECT\n        'check_03_link_hk_length_64',\n        (SELECT COUNT(*) FROM financial_analytics_silver.link_filing_concept_period),\n        (SELECT COUNT(*) FROM financial_analytics_silver.link_filing_concept_period WHERE length(link_filing_concept_period_hk) = 64)\n\n    UNION ALL SELECT\n        'check_04_fk_closure_company',\n        (SELECT COUNT(*) FROM financial_analytics_silver.link_filing_concept_period),\n        (SELECT COUNT(*)\n         FROM financial_analytics_silver.link_filing_concept_period l\n         INNER JOIN financial_analytics_silver.hub_company h\n           ON l.hub_company_hk = h.hub_company_hk)\n\n    UNION ALL SELECT\n        'check_05_fk_closure_filing',\n        (SELECT COUNT(*) FROM financial_analytics_silver.link_filing_concept_period),\n        (SELECT COUNT(*)\n         FROM financial_analytics_silver.link_filing_concept_period l\n         INNER JOIN financial_analytics_silver.hub_filing h\n           ON l.hub_filing_hk = h.hub_filing_hk)\n\n    UNION ALL SELECT\n        'check_06_fk_closure_concept',\n        (SELECT COUNT(*) FROM financial_analytics_silver.link_filing_concept_period),\n        (SELECT COUNT(*)\n         FROM financial_analytics_silver.link_filing_concept_period l\n         INNER JOIN financial_analytics_silver.hub_concept h\n           ON l.hub_concept_hk = h.hub_concept_hk)\n\n    UNION ALL SELECT\n        'check_07_composite_grain_unique',\n        (SELECT COUNT(*) FROM financial_analytics_silver.link_filing_concept_period),\n        (SELECT COUNT(*)\n         FROM (\n             SELECT DISTINCT\n                 cik, accession_number, canonical_concept,\n                 period_start_date, period_end_date,\n                 fiscal_year, fiscal_period\n             FROM financial_analytics_silver.link_filing_concept_period\n         ))\n\n    UNION ALL SELECT\n        'check_08_period_end_date_not_null',\n        (SELECT COUNT(*) FROM financial_analytics_silver.link_filing_concept_period),\n        (SELECT COUNT(period_end_date) FROM financial_analytics_silver.link_filing_concept_period)\n\n    UNION ALL SELECT\n        'check_09_bks_not_null',\n        (SELECT COUNT(*) FROM financial_analytics_silver.link_filing_concept_period),\n        (SELECT COUNT(*)\n         FROM financial_analytics_silver.link_filing_concept_period\n         WHERE cik IS NOT NULL\n           AND accession_number IS NOT NULL\n           AND canonical_concept IS NOT NULL)\n\n    UNION ALL SELECT\n        'check_10_link_hk_reproducible',\n        CAST(1 AS bigint),\n        (SELECT COUNT(*)\n         FROM apple_sample\n         WHERE link_filing_concept_period_hk = to_hex(sha256(to_utf8(\n               CAST(cik AS varchar) || '||' ||\n               CAST(accession_number AS varchar) || '||' ||\n               CAST(canonical_concept AS varchar) || '||' ||\n               COALESCE(CAST(period_start_date AS varchar), '^^') || '||' ||\n               CAST(period_end_date AS varchar) || '||' ||\n               COALESCE(CAST(fiscal_year AS varchar), '^^') || '||' ||\n               COALESCE(fiscal_period, '^^')\n           ))))\n\n    UNION ALL SELECT\n        'check_11_fk_company_hash_reproducible',\n        CAST(1 AS bigint),\n        (SELECT COUNT(*)\n         FROM apple_sample\n         WHERE hub_company_hk = to_hex(sha256(to_utf8(\n               CAST(cik AS varchar)\n           ))))\n\n    UNION ALL SELECT\n        'check_12_record_source_constant',\n        (SELECT COUNT(*) FROM financial_analytics_silver.link_filing_concept_period),\n        (SELECT COUNT(*)\n         FROM financial_analytics_silver.link_filing_concept_period\n         WHERE record_source = 'sec_edgar.companyfacts')\n)\n\nSELECT\n    check_name,\n    expected,\n    actual,\n    CASE WHEN expected = actual THEN 'PASS' ELSE 'FAIL' END AS result\nFROM checks\nORDER BY check_name;\n",
                "WorkGroup": "wg_financial_analytics",
                "QueryExecutionContext": {
                  "Catalog": "awsdatacatalog",
                  "Database": "financial_analytics_silver"
                }
              },
              "End": true
            }
          }
        },
        {
          "StartAt": "VerifySatConceptValue",
          "States": {
            "VerifySatConceptValue": {
              "Type": "Task",
              "Resource": "arn:aws:states:::athena:startQueryExecution.sync",
              "Parameters": {
                "QueryString": "-- sql/verify/09_phase2_warehouse_sat_concept_value_verification.sql\n--\n-- Phase 2 session 8 \u2014 third warehouse-layer Data Vault 2.0 satellite:\n-- sat_concept_value. Parent = link_filing_concept_period (3-way standard\n-- link). 2 payload attributes: value (DECIMAL(28,2)) + unit ('USD'\n-- within current scope). 1:1 cardinality with link parent on first load\n-- \u2014 every observation has exactly one sat row when no history has\n-- accumulated. Expected 89,821 rows (= link row count from dbt run\n-- result, confirmed via composite-PK dbt test PASS).\n--\n-- This is THE model holding the actual numerical SEC EDGAR financial\n-- data \u2014 every downstream Gold mart in Phase 4 joins through here to\n-- access fact values. Apple's FY2023 revenue, Microsoft's quarterly\n-- net income, S&P 100 balance-sheet totals \u2014 all live in this table.\n--\n-- Standalone re-runnable artefact \u2014 paste the whole thing into Athena\n-- Query Editor under workgroup wg_financial_analytics signed in as\n-- phil-admin, region us-east-1.\n--\n-- Checks 12 invariants on sat_concept_value:\n--\n--   1. sat_concept_value_hk is unique across all rows.\n--   2. sat_concept_value_hk is NOT NULL across all rows.\n--   3. sat_concept_value_hk is exactly 64 hex chars (SHA-256 length).\n--   4. hashdiff is NOT NULL across all rows (COALESCE-sentinel pattern\n--      defends against Trino concat NULL propagation per Risk 8).\n--   5. hashdiff is exactly 64 hex chars (SHA-256 length).\n--   6. FK closure to link_filing_concept_period \u2014 every sat row's\n--      link_filing_concept_period_hk exists in the link's PK column.\n--   7. Composite natural PK (link_filing_concept_period_hk,\n--      load_datetime) is unique across all rows. Independently\n--      confirms the DV2.0 textbook contract that the engine-level\n--      single-column unique_key on sat_concept_value_hk enforces.\n--   8. Parent coverage parity \u2014 sat row count = distinct\n--      link_filing_concept_period_hk in sat = link row count on first\n--      load (1:1 cardinality invariant). Cheapest structural guard\n--      for the satellite 1:1 contract per Risk 12 carry-forward.\n--   9. value is NOT NULL across all rows (source-side WHERE filter\n--      excludes NULL values upstream \u2014 contract validity check).\n--  10. sat_concept_value_hk determinism on Apple's first observed row\n--      \u2014 recomputes to_hex(sha256(to_utf8(link_hk || '||' ||\n--      CAST(load_datetime AS varchar)))) and confirms the stored hash\n--      matches (Risk 10 function chain).\n--  11. hashdiff determinism on Apple's first observed row \u2014 recomputes\n--      the COALESCE-protected (value, unit) hashdiff and confirms the\n--      stored hashdiff matches (Risk 8 function chain).\n--  12. record_source is constant 'sec_edgar.companyfacts' on every row.\n--\n-- Idempotency check is separately performed by re-running\n--   dotenv -f ..\\.env run -- dbt run --select sat_concept_value\n-- Expected output: NO-OP per the is_incremental NOT EXISTS anti-join\n-- filter \u2014 the latest stored hashdiff for every parent matches the\n-- inbound recomputed hashdiff (payload unchanged within current Bronze).\n\nWITH apple_sample AS (\n    -- Apple's first observed row \u2014 cik 0000320193, canonical 'revenue',\n    -- lexicographically smallest accession + period. Deterministic\n    -- across runs.\n    SELECT\n        s.sat_concept_value_hk,\n        s.hashdiff,\n        s.link_filing_concept_period_hk,\n        s.value,\n        s.unit,\n        s.load_datetime\n    FROM financial_analytics_silver.sat_concept_value s\n    WHERE s.cik = '0000320193'\n      AND s.canonical_concept = 'revenue'\n    ORDER BY s.accession_number, s.period_end_date\n    LIMIT 1\n),\n\nchecks AS (\n\n    SELECT\n        'check_01_sat_hk_unique' AS check_name,\n        (SELECT COUNT(*) FROM financial_analytics_silver.sat_concept_value) AS expected,\n        (SELECT COUNT(DISTINCT sat_concept_value_hk) FROM financial_analytics_silver.sat_concept_value) AS actual\n\n    UNION ALL SELECT\n        'check_02_sat_hk_not_null',\n        (SELECT COUNT(*) FROM financial_analytics_silver.sat_concept_value),\n        (SELECT COUNT(sat_concept_value_hk) FROM financial_analytics_silver.sat_concept_value)\n\n    UNION ALL SELECT\n        'check_03_sat_hk_length_64',\n        (SELECT COUNT(*) FROM financial_analytics_silver.sat_concept_value),\n        (SELECT COUNT(*) FROM financial_analytics_silver.sat_concept_value WHERE length(sat_concept_value_hk) = 64)\n\n    UNION ALL SELECT\n        'check_04_hashdiff_not_null',\n        (SELECT COUNT(*) FROM financial_analytics_silver.sat_concept_value),\n        (SELECT COUNT(hashdiff) FROM financial_analytics_silver.sat_concept_value)\n\n    UNION ALL SELECT\n        'check_05_hashdiff_length_64',\n        (SELECT COUNT(*) FROM financial_analytics_silver.sat_concept_value),\n        (SELECT COUNT(*) FROM financial_analytics_silver.sat_concept_value WHERE length(hashdiff) = 64)\n\n    UNION ALL SELECT\n        'check_06_sat_fk_closure_link',\n        (SELECT COUNT(*) FROM financial_analytics_silver.sat_concept_value),\n        (SELECT COUNT(*)\n         FROM financial_analytics_silver.sat_concept_value s\n         INNER JOIN financial_analytics_silver.link_filing_concept_period l\n           ON s.link_filing_concept_period_hk = l.link_filing_concept_period_hk)\n\n    UNION ALL SELECT\n        'check_07_sat_composite_pk_unique',\n        (SELECT COUNT(*) FROM financial_analytics_silver.sat_concept_value),\n        (SELECT COUNT(*)\n         FROM (\n             SELECT DISTINCT link_filing_concept_period_hk, load_datetime\n             FROM financial_analytics_silver.sat_concept_value\n         ))\n\n    UNION ALL SELECT\n        'check_08_sat_parent_coverage_parity',\n        (SELECT COUNT(*) FROM financial_analytics_silver.link_filing_concept_period),\n        (SELECT COUNT(DISTINCT link_filing_concept_period_hk) FROM financial_analytics_silver.sat_concept_value)\n\n    UNION ALL SELECT\n        'check_09_value_not_null',\n        (SELECT COUNT(*) FROM financial_analytics_silver.sat_concept_value),\n        (SELECT COUNT(value) FROM financial_analytics_silver.sat_concept_value)\n\n    UNION ALL SELECT\n        'check_10_sat_hk_reproducible',\n        CAST(1 AS bigint),\n        (SELECT COUNT(*)\n         FROM apple_sample\n         WHERE sat_concept_value_hk = to_hex(sha256(to_utf8(\n               CAST(link_filing_concept_period_hk AS varchar) || '||' ||\n               CAST(load_datetime AS varchar)\n           ))))\n\n    UNION ALL SELECT\n        'check_11_hashdiff_reproducible',\n        CAST(1 AS bigint),\n        (SELECT COUNT(*)\n         FROM apple_sample\n         WHERE hashdiff = to_hex(sha256(to_utf8(\n               COALESCE(CAST(value AS varchar), '^^') || '||' ||\n               COALESCE(CAST(unit AS varchar), '^^')\n           ))))\n\n    UNION ALL SELECT\n        'check_12_record_source_constant',\n        (SELECT COUNT(*) FROM financial_analytics_silver.sat_concept_value),\n        (SELECT COUNT(*)\n         FROM financial_analytics_silver.sat_concept_value\n         WHERE record_source = 'sec_edgar.companyfacts')\n)\n\nSELECT\n    check_name,\n    expected,\n    actual,\n    CASE WHEN expected = actual THEN 'PASS' ELSE 'FAIL' END AS result\nFROM checks\nORDER BY check_name;\n",
                "WorkGroup": "wg_financial_analytics",
                "QueryExecutionContext": {
                  "Catalog": "awsdatacatalog",
                  "Database": "financial_analytics_silver"
                }
              },
              "End": true
            }
          }
        },
        {
          "StartAt": "VerifySatConceptCanonical",
          "States": {
            "VerifySatConceptCanonical": {
              "Type": "Task",
              "Resource": "arn:aws:states:::athena:startQueryExecution.sync",
              "Parameters": {
                "QueryString": "-- sql/verify/10_phase2_warehouse_sat_concept_canonical_verification.sql\n--\n-- Phase 2 session 9 \u2014 fourth warehouse-layer Data Vault 2.0 satellite,\n-- first MULTI-ACTIVE SATELLITE (MAS) in the project: sat_concept_canonical.\n-- Parent = hub_concept (5 rows). Audit-lineage payload \u2014 raw XBRL US-GAAP\n-- tag name as both Child Dependent Key (CDK = sub_sequence_key) and\n-- descriptive content (degenerate-payload pattern per LEARNINGS Risk 17).\n-- Expected first-load row count = 8 (4 revenue alias tags collapsing to\n-- canonical 'revenue' + 4 identity-mapped tags). Empirically anchored at\n-- session 9 forward-verify probe 2: 8 distinct (canonical, raw_tag)\n-- pairs = canonical_concepts_dictionary seed row count exactly.\n--\n-- THE AUDIT LINEAGE MODEL. Defends sat_concept_value's MIN(value)\n-- information-loss decision (session 8) by preserving regulatory-\n-- defensible provenance to the original XBRL US-GAAP tag every fact\n-- was reported under.\n--\n-- Standalone re-runnable artefact \u2014 paste the whole thing into Athena\n-- Query Editor under workgroup wg_financial_analytics signed in as\n-- phil-admin, region us-east-1.\n--\n-- Checks 14 invariants on sat_concept_canonical (2 more than standard\n-- sat verify suites because MAS carries an extra hash column\n-- sub_sequence_key AND an MAS-specific cardinality invariant guard\n-- beyond the standard parent-coverage check):\n--\n--   1.  sat_concept_canonical_hk is unique across all rows.\n--   2.  sat_concept_canonical_hk is NOT NULL across all rows.\n--   3.  sat_concept_canonical_hk is exactly 64 hex chars (SHA-256 length).\n--   4.  hashdiff is NOT NULL across all rows.\n--   5.  hashdiff is exactly 64 hex chars.\n--   6.  sub_sequence_key is NOT NULL across all rows.\n--   7.  sub_sequence_key is exactly 64 hex chars.\n--   8.  FK closure to hub_concept \u2014 every sat row's hub_concept_hk\n--       exists in hub_concept's PK column.\n--   9.  Composite natural PK (hub_concept_hk, sub_sequence_key,\n--       load_datetime) is unique. 3-COLUMN MAS variant (vs 2-column\n--       composite for sessions 6/7/8 sats).\n--   10. MAS cardinality invariant \u2014 sat row count = 8 = distinct\n--       (hub_concept_hk, sub_sequence_key) pair count. The first-load\n--       MAS-grain guard: every (parent, CDK) pair observed in source\n--       lands as exactly one sat row.\n--   11. Parent coverage \u2014 sat carries all 5 distinct canonical concepts\n--       (every canonical observed in source has at least one MAS row).\n--   12. sat_concept_canonical_hk determinism on canonical 'revenue' +\n--       raw tag 'Revenues' sample \u2014 recomputes\n--       to_hex(sha256(to_utf8(parent_hk || '||' || sub_sequence_key\n--       || '||' || CAST(load_datetime AS varchar)))) and confirms the\n--       stored hash matches (Risk 10 MAS-extended function chain).\n--   13. hashdiff determinism on same sample \u2014 recomputes\n--       to_hex(sha256(to_utf8(COALESCE(CAST(concept_name AS varchar),\n--       '^^')))) and confirms the stored hashdiff matches (Risk 8\n--       single-column function chain).\n--   14. record_source is constant 'sec_edgar.companyfacts' on every row.\n--\n-- Idempotency check is separately performed by re-running\n--   dotenv -f ..\\.env run -- dbt run --select sat_concept_canonical\n-- Expected output: NO-OP per the is_incremental MAS NOT EXISTS anti-join\n-- filter \u2014 every (parent, CDK) pair is already present in {{ this }}\n-- and the degenerate hashdiff matches by construction.\n\nWITH revenue_sample AS (\n    -- Canonical 'revenue' + raw tag 'Revenues' \u2014 the deterministic\n    -- portfolio-anchor pair. Picks the original pre-ASC-606 revenue\n    -- tag (Revenues), which exists in seed and was observed in source\n    -- per forward-verify probe 2.\n    SELECT\n        s.sat_concept_canonical_hk,\n        s.hashdiff,\n        s.hub_concept_hk,\n        s.sub_sequence_key,\n        s.concept_name,\n        s.load_datetime\n    FROM financial_analytics_silver.sat_concept_canonical s\n    WHERE s.canonical_concept = 'revenue'\n      AND s.concept_name = 'Revenues'\n    LIMIT 1\n),\n\nchecks AS (\n\n    SELECT\n        'check_01_sat_hk_unique' AS check_name,\n        (SELECT COUNT(*) FROM financial_analytics_silver.sat_concept_canonical) AS expected,\n        (SELECT COUNT(DISTINCT sat_concept_canonical_hk) FROM financial_analytics_silver.sat_concept_canonical) AS actual\n\n    UNION ALL SELECT\n        'check_02_sat_hk_not_null',\n        (SELECT COUNT(*) FROM financial_analytics_silver.sat_concept_canonical),\n        (SELECT COUNT(sat_concept_canonical_hk) FROM financial_analytics_silver.sat_concept_canonical)\n\n    UNION ALL SELECT\n        'check_03_sat_hk_length_64',\n        (SELECT COUNT(*) FROM financial_analytics_silver.sat_concept_canonical),\n        (SELECT COUNT(*) FROM financial_analytics_silver.sat_concept_canonical WHERE length(sat_concept_canonical_hk) = 64)\n\n    UNION ALL SELECT\n        'check_04_hashdiff_not_null',\n        (SELECT COUNT(*) FROM financial_analytics_silver.sat_concept_canonical),\n        (SELECT COUNT(hashdiff) FROM financial_analytics_silver.sat_concept_canonical)\n\n    UNION ALL SELECT\n        'check_05_hashdiff_length_64',\n        (SELECT COUNT(*) FROM financial_analytics_silver.sat_concept_canonical),\n        (SELECT COUNT(*) FROM financial_analytics_silver.sat_concept_canonical WHERE length(hashdiff) = 64)\n\n    UNION ALL SELECT\n        'check_06_sub_sequence_key_not_null',\n        (SELECT COUNT(*) FROM financial_analytics_silver.sat_concept_canonical),\n        (SELECT COUNT(sub_sequence_key) FROM financial_analytics_silver.sat_concept_canonical)\n\n    UNION ALL SELECT\n        'check_07_sub_sequence_key_length_64',\n        (SELECT COUNT(*) FROM financial_analytics_silver.sat_concept_canonical),\n        (SELECT COUNT(*) FROM financial_analytics_silver.sat_concept_canonical WHERE length(sub_sequence_key) = 64)\n\n    UNION ALL SELECT\n        'check_08_sat_fk_closure_hub_concept',\n        (SELECT COUNT(*) FROM financial_analytics_silver.sat_concept_canonical),\n        (SELECT COUNT(*)\n         FROM financial_analytics_silver.sat_concept_canonical s\n         INNER JOIN financial_analytics_silver.hub_concept h\n           ON s.hub_concept_hk = h.hub_concept_hk)\n\n    UNION ALL SELECT\n        'check_09_sat_composite_pk_unique_3col',\n        (SELECT COUNT(*) FROM financial_analytics_silver.sat_concept_canonical),\n        (SELECT COUNT(*)\n         FROM (\n             SELECT DISTINCT hub_concept_hk, sub_sequence_key, load_datetime\n             FROM financial_analytics_silver.sat_concept_canonical\n         ))\n\n    UNION ALL SELECT\n        'check_10_mas_cardinality_invariant',\n        CAST(8 AS bigint),\n        (SELECT COUNT(*)\n         FROM (\n             SELECT DISTINCT hub_concept_hk, sub_sequence_key\n             FROM financial_analytics_silver.sat_concept_canonical\n         ))\n\n    UNION ALL SELECT\n        'check_11_parent_coverage_5_canonicals',\n        CAST(5 AS bigint),\n        (SELECT COUNT(DISTINCT hub_concept_hk) FROM financial_analytics_silver.sat_concept_canonical)\n\n    UNION ALL SELECT\n        'check_12_sat_hk_reproducible',\n        CAST(1 AS bigint),\n        (SELECT COUNT(*)\n         FROM revenue_sample\n         WHERE sat_concept_canonical_hk = to_hex(sha256(to_utf8(\n               CAST(hub_concept_hk AS varchar) || '||' ||\n               CAST(sub_sequence_key AS varchar) || '||' ||\n               CAST(load_datetime AS varchar)\n           ))))\n\n    UNION ALL SELECT\n        'check_13_hashdiff_reproducible',\n        CAST(1 AS bigint),\n        (SELECT COUNT(*)\n         FROM revenue_sample\n         WHERE hashdiff = to_hex(sha256(to_utf8(\n               COALESCE(CAST(concept_name AS varchar), '^^')\n           ))))\n\n    UNION ALL SELECT\n        'check_14_record_source_constant',\n        (SELECT COUNT(*) FROM financial_analytics_silver.sat_concept_canonical),\n        (SELECT COUNT(*)\n         FROM financial_analytics_silver.sat_concept_canonical\n         WHERE record_source = 'sec_edgar.companyfacts')\n)\n\nSELECT\n    check_name,\n    expected,\n    actual,\n    CASE WHEN expected = actual THEN 'PASS' ELSE 'FAIL' END AS result\nFROM checks\nORDER BY check_name;\n",
                "WorkGroup": "wg_financial_analytics",
                "QueryExecutionContext": {
                  "Catalog": "awsdatacatalog",
                  "Database": "financial_analytics_silver"
                }
              },
              "End": true
            }
          }
        },
        {
          "StartAt": "VerifyBusinessVaultPit",
          "States": {
            "VerifyBusinessVaultPit": {
              "Type": "Task",
              "Resource": "arn:aws:states:::athena:startQueryExecution.sync",
              "Parameters": {
                "QueryString": "-- sql/verify/11_phase2_business_vault_pit_verification.sql\n--\n-- Phase 2 session 10 \u2014 first Business Vault Point-In-Time table:\n-- pit_link_filing_concept_period. Spine = link_filing_concept_period\n-- (89,821 rows). Single satellite resolved = sat_concept_value.\n-- as_of_dates = 10 fiscal year-ends 2016-12-31 through 2025-12-31 from\n-- dim_as_of_dates.\n--\n-- Temporal anchor in the model body = filed_date (from sat_filing_metadata\n-- via hub_filing_hk join), NOT load_datetime, per LEARNINGS Risk 23\n-- (2026-05-29). Project-specific deviation from canonical PIT semantics\n-- driven by ingestion-time load_datetime.\n--\n-- Standalone re-runnable artefact \u2014 paste the whole thing into Athena\n-- Query Editor under workgroup wg_financial_analytics signed in as\n-- phil-admin, region us-east-1.\n--\n-- Checks 11 invariants on pit_link_filing_concept_period:\n--\n--   1. pit_link_filing_concept_period_hk is unique across all rows.\n--   2. pit_link_filing_concept_period_hk is NOT NULL across all rows.\n--   3. pit_link_filing_concept_period_hk is exactly 64 hex chars (SHA-256).\n--   4. FK closure to link_filing_concept_period \u2014 every PIT row's link\n--      FK exists in the link's PK column.\n--   5. FK closure to dim_as_of_dates \u2014 every PIT row's as_of_date exists\n--      in the dim's PK column.\n--   6. Composite natural PK (link_filing_concept_period_hk, as_of_date)\n--      is unique across all rows. Independently confirms the DV2.0\n--      textbook contract that the engine-level single-column unique_key\n--      on pit_link_filing_concept_period_hk enforces.\n--   7. Distinct as_of_date count = 10 (dim_as_of_dates row count).\n--   8. as_of_date monotonic-coverage sanity \u2014 for each as_of_date,\n--      PIT row count is non-decreasing as as_of_date increases. Older\n--      as_of_dates see fewer filings (filed_date <= as_of_date filter\n--      excludes filings filed after); newer see more. Strict equality\n--      on first/last as_of_dates checks the boundary.\n--   9. pit_hk determinism on the link's first observation \u00d7 first\n--      as_of_date \u2014 recomputes to_hex(sha256(to_utf8(link_hk || '||' ||\n--      CAST(as_of_date AS varchar)))) and confirms stored hash matches\n--      (Risk 4 + Risk 6 function chain).\n--  10. FK semantic closure to sat_concept_value \u2014 every NON-NULL\n--      sat_concept_value_pk in PIT exists in the sat's PK column.\n--      NULL allowed for ghost-record-deferral substitute per Risk 22.\n--  11. record_source is constant 'business_vault.pit_link_filing_concept_period'\n--      on every row.\n--\n-- Idempotency check is separately performed by re-running\n--   dotenv -f ..\\.env run -- dbt run --select pit_link_filing_concept_period\n-- Expected: FULL REBUILD with identical row count + identical hash values\n-- (table materialization is non-incremental \u2014 each run rebuilds, the\n-- determinism check at row level is the idempotency proof for query\n-- helpers).\n\nWITH first_as_of AS (\n    SELECT MIN(as_of_date) AS first_as_of_date\n    FROM financial_analytics_silver.dim_as_of_dates\n),\n\nlast_as_of AS (\n    SELECT MAX(as_of_date) AS last_as_of_date\n    FROM financial_analytics_silver.dim_as_of_dates\n),\n\napple_sample AS (\n    -- Apple's first observed link \u00d7 earliest as_of_date in coverage\n    -- (the link's filed_date will be <= some subset of as_of_dates;\n    -- pick the smallest as_of_date that includes Apple's first filing).\n    SELECT\n        p.pit_link_filing_concept_period_hk,\n        p.link_filing_concept_period_hk,\n        p.as_of_date\n    FROM financial_analytics_silver.pit_link_filing_concept_period p\n    INNER JOIN financial_analytics_silver.link_filing_concept_period l\n      ON p.link_filing_concept_period_hk = l.link_filing_concept_period_hk\n    WHERE l.cik = '0000320193'\n    ORDER BY l.accession_number, l.period_end_date, p.as_of_date\n    LIMIT 1\n),\n\nchecks AS (\n\n    SELECT\n        'check_01_pit_hk_unique' AS check_name,\n        (SELECT COUNT(*) FROM financial_analytics_silver.pit_link_filing_concept_period) AS expected,\n        (SELECT COUNT(DISTINCT pit_link_filing_concept_period_hk) FROM financial_analytics_silver.pit_link_filing_concept_period) AS actual\n\n    UNION ALL SELECT\n        'check_02_pit_hk_not_null',\n        (SELECT COUNT(*) FROM financial_analytics_silver.pit_link_filing_concept_period),\n        (SELECT COUNT(pit_link_filing_concept_period_hk) FROM financial_analytics_silver.pit_link_filing_concept_period)\n\n    UNION ALL SELECT\n        'check_03_pit_hk_length_64',\n        (SELECT COUNT(*) FROM financial_analytics_silver.pit_link_filing_concept_period),\n        (SELECT COUNT(*) FROM financial_analytics_silver.pit_link_filing_concept_period WHERE length(pit_link_filing_concept_period_hk) = 64)\n\n    UNION ALL SELECT\n        'check_04_pit_fk_closure_link',\n        (SELECT COUNT(*) FROM financial_analytics_silver.pit_link_filing_concept_period),\n        (SELECT COUNT(*)\n         FROM financial_analytics_silver.pit_link_filing_concept_period p\n         INNER JOIN financial_analytics_silver.link_filing_concept_period l\n           ON p.link_filing_concept_period_hk = l.link_filing_concept_period_hk)\n\n    UNION ALL SELECT\n        'check_05_pit_fk_closure_as_of_dates',\n        (SELECT COUNT(*) FROM financial_analytics_silver.pit_link_filing_concept_period),\n        (SELECT COUNT(*)\n         FROM financial_analytics_silver.pit_link_filing_concept_period p\n         INNER JOIN financial_analytics_silver.dim_as_of_dates d\n           ON p.as_of_date = d.as_of_date)\n\n    UNION ALL SELECT\n        'check_06_pit_composite_pk_unique',\n        (SELECT COUNT(*) FROM financial_analytics_silver.pit_link_filing_concept_period),\n        (SELECT COUNT(*)\n         FROM (\n             SELECT DISTINCT link_filing_concept_period_hk, as_of_date\n             FROM financial_analytics_silver.pit_link_filing_concept_period\n         ))\n\n    UNION ALL SELECT\n        'check_07_distinct_as_of_count',\n        CAST(10 AS bigint),\n        (SELECT COUNT(DISTINCT as_of_date) FROM financial_analytics_silver.pit_link_filing_concept_period)\n\n    UNION ALL SELECT\n        'check_08_first_as_of_subset_of_last',\n        CAST(1 AS bigint),\n        (SELECT\n            CASE WHEN\n                (SELECT COUNT(*) FROM financial_analytics_silver.pit_link_filing_concept_period WHERE as_of_date = (SELECT first_as_of_date FROM first_as_of))\n                <=\n                (SELECT COUNT(*) FROM financial_analytics_silver.pit_link_filing_concept_period WHERE as_of_date = (SELECT last_as_of_date FROM last_as_of))\n            THEN 1 ELSE 0 END)\n\n    UNION ALL SELECT\n        'check_09_pit_hk_reproducible',\n        CAST(1 AS bigint),\n        (SELECT COUNT(*)\n         FROM apple_sample\n         WHERE pit_link_filing_concept_period_hk = to_hex(sha256(to_utf8(\n               CAST(link_filing_concept_period_hk AS varchar) || '||' ||\n               CAST(as_of_date AS varchar)\n           ))))\n\n    UNION ALL SELECT\n        'check_10_pit_fk_closure_sat_non_null',\n        (SELECT COUNT(*) FROM financial_analytics_silver.pit_link_filing_concept_period WHERE sat_concept_value_pk IS NOT NULL),\n        (SELECT COUNT(*)\n         FROM financial_analytics_silver.pit_link_filing_concept_period p\n         INNER JOIN financial_analytics_silver.sat_concept_value s\n           ON p.sat_concept_value_pk = s.sat_concept_value_hk\n         WHERE p.sat_concept_value_pk IS NOT NULL)\n\n    UNION ALL SELECT\n        'check_11_record_source_constant',\n        (SELECT COUNT(*) FROM financial_analytics_silver.pit_link_filing_concept_period),\n        (SELECT COUNT(*)\n         FROM financial_analytics_silver.pit_link_filing_concept_period\n         WHERE record_source = 'business_vault.pit_link_filing_concept_period')\n)\n\nSELECT\n    check_name,\n    expected,\n    actual,\n    CASE WHEN expected = actual THEN 'PASS' ELSE 'FAIL' END AS result\nFROM checks\nORDER BY check_name;\n",
                "WorkGroup": "wg_financial_analytics",
                "QueryExecutionContext": {
                  "Catalog": "awsdatacatalog",
                  "Database": "financial_analytics_silver"
                }
              },
              "End": true
            }
          }
        },
        {
          "StartAt": "VerifyBusinessVaultBridge",
          "States": {
            "VerifyBusinessVaultBridge": {
              "Type": "Task",
              "Resource": "arn:aws:states:::athena:startQueryExecution.sync",
              "Parameters": {
                "QueryString": "-- sql/verify/12_phase2_business_vault_bridge_verification.sql\n--\n-- Phase 2 session 10 \u2014 first Business Vault Bridge table:\n-- bridge_company_concept_period. Spine = hub_company. Walks the 5-hop\n-- hub-link-hub graph: hub_company \u2192 link_company_filing \u2192 hub_filing \u2192\n-- link_filing_concept_period \u2192 hub_concept. No effectivity satellites\n-- per LEARNINGS Risk 20 (2026-05-29). Temporal anchor = filed_date per\n-- Risk 23.\n--\n-- Standalone re-runnable artefact \u2014 paste the whole thing into Athena\n-- Query Editor under workgroup wg_financial_analytics signed in as\n-- phil-admin, region us-east-1.\n--\n-- Checks 13 invariants on bridge_company_concept_period:\n--\n--   1. bridge_company_concept_period_hk is unique across all rows.\n--   2. bridge_company_concept_period_hk is NOT NULL.\n--   3. bridge_company_concept_period_hk is exactly 64 hex chars.\n--   4. FK closure to hub_company.\n--   5. FK closure to hub_filing.\n--   6. FK closure to hub_concept.\n--   7. FK closure to link_company_filing.\n--   8. FK closure to link_filing_concept_period.\n--   9. FK closure to dim_as_of_dates.\n--  10. Composite natural PK (link_filing_concept_period_hk, as_of_date)\n--      is unique across all rows.\n--  11. Distinct as_of_date count = 10.\n--  12. Bridge hash determinism on Apple's first observed link \u00d7 first\n--      as_of_date \u2014 recomputes the 4-component composite SHA-256 chain\n--      (hub_company_hk || link_company_filing_hk || link_filing_concept_period_hk\n--      || as_of_date) and confirms stored hash matches.\n--  13. record_source is constant 'business_vault.bridge_company_concept_period'.\n\nWITH apple_sample AS (\n    SELECT\n        b.bridge_company_concept_period_hk,\n        b.hub_company_hk,\n        b.link_company_filing_hk,\n        b.link_filing_concept_period_hk,\n        b.as_of_date\n    FROM financial_analytics_silver.bridge_company_concept_period b\n    INNER JOIN financial_analytics_silver.link_filing_concept_period l\n      ON b.link_filing_concept_period_hk = l.link_filing_concept_period_hk\n    WHERE l.cik = '0000320193'\n    ORDER BY l.accession_number, l.period_end_date, b.as_of_date\n    LIMIT 1\n),\n\nchecks AS (\n\n    SELECT\n        'check_01_bridge_hk_unique' AS check_name,\n        (SELECT COUNT(*) FROM financial_analytics_silver.bridge_company_concept_period) AS expected,\n        (SELECT COUNT(DISTINCT bridge_company_concept_period_hk) FROM financial_analytics_silver.bridge_company_concept_period) AS actual\n\n    UNION ALL SELECT\n        'check_02_bridge_hk_not_null',\n        (SELECT COUNT(*) FROM financial_analytics_silver.bridge_company_concept_period),\n        (SELECT COUNT(bridge_company_concept_period_hk) FROM financial_analytics_silver.bridge_company_concept_period)\n\n    UNION ALL SELECT\n        'check_03_bridge_hk_length_64',\n        (SELECT COUNT(*) FROM financial_analytics_silver.bridge_company_concept_period),\n        (SELECT COUNT(*) FROM financial_analytics_silver.bridge_company_concept_period WHERE length(bridge_company_concept_period_hk) = 64)\n\n    UNION ALL SELECT\n        'check_04_bridge_fk_closure_hub_company',\n        (SELECT COUNT(*) FROM financial_analytics_silver.bridge_company_concept_period),\n        (SELECT COUNT(*)\n         FROM financial_analytics_silver.bridge_company_concept_period b\n         INNER JOIN financial_analytics_silver.hub_company h\n           ON b.hub_company_hk = h.hub_company_hk)\n\n    UNION ALL SELECT\n        'check_05_bridge_fk_closure_hub_filing',\n        (SELECT COUNT(*) FROM financial_analytics_silver.bridge_company_concept_period),\n        (SELECT COUNT(*)\n         FROM financial_analytics_silver.bridge_company_concept_period b\n         INNER JOIN financial_analytics_silver.hub_filing h\n           ON b.hub_filing_hk = h.hub_filing_hk)\n\n    UNION ALL SELECT\n        'check_06_bridge_fk_closure_hub_concept',\n        (SELECT COUNT(*) FROM financial_analytics_silver.bridge_company_concept_period),\n        (SELECT COUNT(*)\n         FROM financial_analytics_silver.bridge_company_concept_period b\n         INNER JOIN financial_analytics_silver.hub_concept h\n           ON b.hub_concept_hk = h.hub_concept_hk)\n\n    UNION ALL SELECT\n        'check_07_bridge_fk_closure_link_company_filing',\n        (SELECT COUNT(*) FROM financial_analytics_silver.bridge_company_concept_period),\n        (SELECT COUNT(*)\n         FROM financial_analytics_silver.bridge_company_concept_period b\n         INNER JOIN financial_analytics_silver.link_company_filing l\n           ON b.link_company_filing_hk = l.link_company_filing_hk)\n\n    UNION ALL SELECT\n        'check_08_bridge_fk_closure_link_filing_concept_period',\n        (SELECT COUNT(*) FROM financial_analytics_silver.bridge_company_concept_period),\n        (SELECT COUNT(*)\n         FROM financial_analytics_silver.bridge_company_concept_period b\n         INNER JOIN financial_analytics_silver.link_filing_concept_period l\n           ON b.link_filing_concept_period_hk = l.link_filing_concept_period_hk)\n\n    UNION ALL SELECT\n        'check_09_bridge_fk_closure_dim_as_of',\n        (SELECT COUNT(*) FROM financial_analytics_silver.bridge_company_concept_period),\n        (SELECT COUNT(*)\n         FROM financial_analytics_silver.bridge_company_concept_period b\n         INNER JOIN financial_analytics_silver.dim_as_of_dates d\n           ON b.as_of_date = d.as_of_date)\n\n    UNION ALL SELECT\n        'check_10_bridge_composite_pk_unique',\n        (SELECT COUNT(*) FROM financial_analytics_silver.bridge_company_concept_period),\n        (SELECT COUNT(*)\n         FROM (\n             SELECT DISTINCT link_filing_concept_period_hk, as_of_date\n             FROM financial_analytics_silver.bridge_company_concept_period\n         ))\n\n    UNION ALL SELECT\n        'check_11_distinct_as_of_count',\n        CAST(10 AS bigint),\n        (SELECT COUNT(DISTINCT as_of_date) FROM financial_analytics_silver.bridge_company_concept_period)\n\n    UNION ALL SELECT\n        'check_12_bridge_hk_reproducible',\n        CAST(1 AS bigint),\n        (SELECT COUNT(*)\n         FROM apple_sample\n         WHERE bridge_company_concept_period_hk = to_hex(sha256(to_utf8(\n               CAST(hub_company_hk AS varchar) || '||' ||\n               CAST(link_company_filing_hk AS varchar) || '||' ||\n               CAST(link_filing_concept_period_hk AS varchar) || '||' ||\n               CAST(as_of_date AS varchar)\n           ))))\n\n    UNION ALL SELECT\n        'check_13_record_source_constant',\n        (SELECT COUNT(*) FROM financial_analytics_silver.bridge_company_concept_period),\n        (SELECT COUNT(*)\n         FROM financial_analytics_silver.bridge_company_concept_period\n         WHERE record_source = 'business_vault.bridge_company_concept_period')\n)\n\nSELECT\n    check_name,\n    expected,\n    actual,\n    CASE WHEN expected = actual THEN 'PASS' ELSE 'FAIL' END AS result\nFROM checks\nORDER BY check_name;\n",
                "WorkGroup": "wg_financial_analytics",
                "QueryExecutionContext": {
                  "Catalog": "awsdatacatalog",
                  "Database": "financial_analytics_silver"
                }
              },
              "End": true
            }
          }
        },
        {
          "StartAt": "VerifyMartPlTrend",
          "States": {
            "VerifyMartPlTrend": {
              "Type": "Task",
              "Resource": "arn:aws:states:::athena:startQueryExecution.sync",
              "Parameters": {
                "QueryString": "-- sql/verify/13_phase4_marts_pl_trend_verification.sql\n--\n-- Phase 4 session 1 \u2014 first Gold mart: mart_pl_trend. 10-year annual\n-- P&L trend per S&P 100 company over the 10 fiscal year-end as-of-dates\n-- in dim_as_of_dates, filtered to canonical_concept IN ('revenue',\n-- 'net_income') AND fiscal_period = 'FY'.\n--\n-- Standalone re-runnable artefact \u2014 paste the whole thing into Athena\n-- Query Editor under workgroup wg_financial_analytics signed in as\n-- phil-admin, region us-east-1.\n--\n-- Checks 14 invariants on mart_pl_trend:\n--\n--   1. mart_pl_trend_hk is unique across all rows.\n--   2. mart_pl_trend_hk is NOT NULL.\n--   3. mart_pl_trend_hk is exactly 64 hex chars.\n--   4. FK closure to hub_company via cik (every row's cik exists in hub).\n--   5. FK closure to dim_as_of_dates via as_of_date.\n--   6. FK closure to hub_concept via canonical_concept.\n--   7. Composite natural PK (cik, as_of_date, fiscal_year, canonical_concept)\n--      is unique across all rows.\n--   8. Distinct as_of_date count = 10.\n--   9. canonical_concept is restricted to ('revenue', 'net_income').\n--  10. unit is constant 'USD' across all rows.\n--  11. record_source is constant 'mart.mart_pl_trend'.\n--  12. value_numeric is NOT NULL across all rows (analyst-facing fact\n--      column \u2014 never silently NULL).\n--  13. Mart hash determinism on Apple's first (as_of_date, fiscal_year,\n--      canonical_concept) tuple \u2014 recomputes the 4-component composite\n--      SHA-256 chain (cik || as_of_date || fiscal_year || canonical_concept)\n--      and confirms stored hash matches.\n--  14. Row count falls within the prediction band [1,000, 20,000] \u2014 wide\n--      band for first-run defensive tolerance. Tightens at Phase 4 session 2+\n--      once empirical baseline is established.\n\nWITH apple_sample AS (\n    SELECT\n        m.mart_pl_trend_hk,\n        m.cik,\n        m.as_of_date,\n        m.fiscal_year,\n        m.canonical_concept\n    FROM financial_analytics_silver.mart_pl_trend m\n    WHERE m.cik = '0000320193'\n    ORDER BY m.as_of_date, m.fiscal_year, m.canonical_concept\n    LIMIT 1\n),\n\nchecks AS (\n\n    SELECT\n        'check_01_mart_hk_unique' AS check_name,\n        (SELECT COUNT(*) FROM financial_analytics_silver.mart_pl_trend) AS expected,\n        (SELECT COUNT(DISTINCT mart_pl_trend_hk) FROM financial_analytics_silver.mart_pl_trend) AS actual\n\n    UNION ALL SELECT\n        'check_02_mart_hk_not_null',\n        (SELECT COUNT(*) FROM financial_analytics_silver.mart_pl_trend),\n        (SELECT COUNT(mart_pl_trend_hk) FROM financial_analytics_silver.mart_pl_trend)\n\n    UNION ALL SELECT\n        'check_03_mart_hk_length_64',\n        (SELECT COUNT(*) FROM financial_analytics_silver.mart_pl_trend),\n        (SELECT COUNT(*) FROM financial_analytics_silver.mart_pl_trend WHERE length(mart_pl_trend_hk) = 64)\n\n    UNION ALL SELECT\n        'check_04_mart_fk_closure_hub_company',\n        (SELECT COUNT(*) FROM financial_analytics_silver.mart_pl_trend),\n        (SELECT COUNT(*)\n         FROM financial_analytics_silver.mart_pl_trend m\n         INNER JOIN financial_analytics_silver.hub_company h\n           ON m.cik = h.cik)\n\n    UNION ALL SELECT\n        'check_05_mart_fk_closure_dim_as_of',\n        (SELECT COUNT(*) FROM financial_analytics_silver.mart_pl_trend),\n        (SELECT COUNT(*)\n         FROM financial_analytics_silver.mart_pl_trend m\n         INNER JOIN financial_analytics_silver.dim_as_of_dates d\n           ON m.as_of_date = d.as_of_date)\n\n    UNION ALL SELECT\n        'check_06_mart_fk_closure_hub_concept',\n        (SELECT COUNT(*) FROM financial_analytics_silver.mart_pl_trend),\n        (SELECT COUNT(*)\n         FROM financial_analytics_silver.mart_pl_trend m\n         INNER JOIN financial_analytics_silver.hub_concept c\n           ON m.canonical_concept = c.canonical_concept)\n\n    UNION ALL SELECT\n        'check_07_mart_composite_pk_unique',\n        (SELECT COUNT(*) FROM financial_analytics_silver.mart_pl_trend),\n        (SELECT COUNT(*)\n         FROM (\n             SELECT DISTINCT cik, as_of_date, fiscal_year, canonical_concept\n             FROM financial_analytics_silver.mart_pl_trend\n         ))\n\n    UNION ALL SELECT\n        'check_08_distinct_as_of_count',\n        CAST(10 AS bigint),\n        (SELECT COUNT(DISTINCT as_of_date) FROM financial_analytics_silver.mart_pl_trend)\n\n    UNION ALL SELECT\n        'check_09_canonical_concept_accepted_values',\n        (SELECT COUNT(*) FROM financial_analytics_silver.mart_pl_trend),\n        (SELECT COUNT(*)\n         FROM financial_analytics_silver.mart_pl_trend\n         WHERE canonical_concept IN ('revenue', 'net_income'))\n\n    UNION ALL SELECT\n        'check_10_unit_constant_usd',\n        (SELECT COUNT(*) FROM financial_analytics_silver.mart_pl_trend),\n        (SELECT COUNT(*)\n         FROM financial_analytics_silver.mart_pl_trend\n         WHERE unit = 'USD')\n\n    UNION ALL SELECT\n        'check_11_record_source_constant',\n        (SELECT COUNT(*) FROM financial_analytics_silver.mart_pl_trend),\n        (SELECT COUNT(*)\n         FROM financial_analytics_silver.mart_pl_trend\n         WHERE record_source = 'mart.mart_pl_trend')\n\n    UNION ALL SELECT\n        'check_12_value_numeric_not_null',\n        (SELECT COUNT(*) FROM financial_analytics_silver.mart_pl_trend),\n        (SELECT COUNT(value_numeric) FROM financial_analytics_silver.mart_pl_trend)\n\n    UNION ALL SELECT\n        'check_13_mart_hk_reproducible',\n        CAST(1 AS bigint),\n        (SELECT COUNT(*)\n         FROM apple_sample\n         WHERE mart_pl_trend_hk = to_hex(sha256(to_utf8(\n               CAST(cik AS varchar) || '||' ||\n               CAST(as_of_date AS varchar) || '||' ||\n               CAST(fiscal_year AS varchar) || '||' ||\n               CAST(canonical_concept AS varchar)\n           ))))\n\n    UNION ALL SELECT\n        'check_14_row_count_band',\n        CAST(1 AS bigint),\n        (SELECT CASE\n                  WHEN COUNT(*) BETWEEN 1000 AND 20000 THEN 1\n                  ELSE 0\n                END\n         FROM financial_analytics_silver.mart_pl_trend)\n)\n\nSELECT\n    check_name,\n    expected,\n    actual,\n    CASE WHEN expected = actual THEN 'PASS' ELSE 'FAIL' END AS result\nFROM checks\nORDER BY check_name;\n",
                "WorkGroup": "wg_financial_analytics",
                "QueryExecutionContext": {
                  "Catalog": "awsdatacatalog",
                  "Database": "financial_analytics_silver"
                }
              },
              "End": true
            }
          }
        },
        {
          "StartAt": "VerifyMartPeerBenchmark",
          "States": {
            "VerifyMartPeerBenchmark": {
              "Type": "Task",
              "Resource": "arn:aws:states:::athena:startQueryExecution.sync",
              "Parameters": {
                "QueryString": "-- sql/verify/14_phase4_marts_peer_benchmark_verification.sql\n--\n-- Phase 4 session 2 \u2014 second Gold mart: mart_peer_benchmark. Cross-\n-- company peer benchmarking at FY snapshots over the S&P 100 universe,\n-- filtered to canonical_concept IN ('revenue', 'net_income', 'assets')\n-- AND fiscal_period = 'FY'.\n--\n-- Standalone re-runnable artefact \u2014 paste the whole thing into Athena\n-- Query Editor under workgroup wg_financial_analytics signed in as\n-- phil-admin, region us-east-1.\n--\n-- Checks 17 invariants on mart_peer_benchmark:\n--\n--   1. mart_peer_benchmark_hk is unique across all rows.\n--   2. mart_peer_benchmark_hk is NOT NULL.\n--   3. mart_peer_benchmark_hk is exactly 64 hex chars.\n--   4. FK closure to hub_company via cik (every row's cik exists in hub).\n--   5. FK closure to dim_as_of_dates via as_of_date.\n--   6. FK closure to hub_concept via canonical_concept.\n--   7. Composite natural PK (cik, as_of_date, fiscal_year, canonical_concept)\n--      is unique across all rows.\n--   8. Distinct as_of_date count = 10.\n--   9. canonical_concept is restricted to ('revenue', 'net_income', 'assets').\n--  10. unit is constant 'USD' across all rows.\n--  11. record_source is constant 'mart.mart_peer_benchmark'.\n--  12. value_numeric is NOT NULL across all rows.\n--  13. peer_rank well-formed \u2014 every row's peer_rank within [1, peer_count]\n--      for its partition.\n--  14. peer_percentile well-formed \u2014 every row's peer_percentile within (0, 1].\n--  15. peer_count consistency \u2014 every partition (as_of_date, fiscal_year,\n--      canonical_concept, gics_sector) has the same peer_count on every\n--      row in it. Partition key extended at Phase 4 session 3 (Option A\n--      sector cascade, 2026-05-30) \u2014 pre-session-3 partition was the\n--      3-key (as_of_date, fiscal_year, canonical_concept) tuple.\n--  16. Mart hash determinism on Apple's first (as_of_date, fiscal_year,\n--      canonical_concept) tuple.\n--  17. Row count falls within prediction band [3,000, 60,000] \u2014 ~100\n--      companies \u00d7 3 concepts \u00d7 ~5 visible as_of_dates \u00d7 10 fiscal years\n--      order-of-magnitude.\n\nWITH apple_sample AS (\n    SELECT\n        m.mart_peer_benchmark_hk,\n        m.cik,\n        m.as_of_date,\n        m.fiscal_year,\n        m.canonical_concept\n    FROM financial_analytics_silver.mart_peer_benchmark m\n    WHERE m.cik = '0000320193'\n    ORDER BY m.as_of_date, m.fiscal_year, m.canonical_concept\n    LIMIT 1\n),\n\npartition_counts AS (\n    -- Per-partition derived peer_count for check 15. Every row in the\n    -- same (as_of_date, fiscal_year, canonical_concept, gics_sector)\n    -- partition should carry the same peer_count value \u2014 equal to the\n    -- actual row count of the partition. Partition key extended at Phase 4\n    -- session 3 (Option A sector cascade, 2026-05-30) to match the\n    -- mart's new peer_stats GROUP BY shape.\n    SELECT\n        as_of_date,\n        fiscal_year,\n        canonical_concept,\n        gics_sector,\n        COUNT(*) AS derived_peer_count,\n        MIN(peer_count) AS stored_peer_count_min,\n        MAX(peer_count) AS stored_peer_count_max\n    FROM financial_analytics_silver.mart_peer_benchmark\n    GROUP BY as_of_date, fiscal_year, canonical_concept, gics_sector\n),\n\nchecks AS (\n\n    SELECT\n        'check_01_mart_hk_unique' AS check_name,\n        (SELECT COUNT(*) FROM financial_analytics_silver.mart_peer_benchmark) AS expected,\n        (SELECT COUNT(DISTINCT mart_peer_benchmark_hk) FROM financial_analytics_silver.mart_peer_benchmark) AS actual\n\n    UNION ALL SELECT\n        'check_02_mart_hk_not_null',\n        (SELECT COUNT(*) FROM financial_analytics_silver.mart_peer_benchmark),\n        (SELECT COUNT(mart_peer_benchmark_hk) FROM financial_analytics_silver.mart_peer_benchmark)\n\n    UNION ALL SELECT\n        'check_03_mart_hk_length_64',\n        (SELECT COUNT(*) FROM financial_analytics_silver.mart_peer_benchmark),\n        (SELECT COUNT(*) FROM financial_analytics_silver.mart_peer_benchmark WHERE length(mart_peer_benchmark_hk) = 64)\n\n    UNION ALL SELECT\n        'check_04_mart_fk_closure_hub_company',\n        (SELECT COUNT(*) FROM financial_analytics_silver.mart_peer_benchmark),\n        (SELECT COUNT(*)\n         FROM financial_analytics_silver.mart_peer_benchmark m\n         INNER JOIN financial_analytics_silver.hub_company h\n           ON m.cik = h.cik)\n\n    UNION ALL SELECT\n        'check_05_mart_fk_closure_dim_as_of',\n        (SELECT COUNT(*) FROM financial_analytics_silver.mart_peer_benchmark),\n        (SELECT COUNT(*)\n         FROM financial_analytics_silver.mart_peer_benchmark m\n         INNER JOIN financial_analytics_silver.dim_as_of_dates d\n           ON m.as_of_date = d.as_of_date)\n\n    UNION ALL SELECT\n        'check_06_mart_fk_closure_hub_concept',\n        (SELECT COUNT(*) FROM financial_analytics_silver.mart_peer_benchmark),\n        (SELECT COUNT(*)\n         FROM financial_analytics_silver.mart_peer_benchmark m\n         INNER JOIN financial_analytics_silver.hub_concept c\n           ON m.canonical_concept = c.canonical_concept)\n\n    UNION ALL SELECT\n        'check_07_mart_composite_pk_unique',\n        (SELECT COUNT(*) FROM financial_analytics_silver.mart_peer_benchmark),\n        (SELECT COUNT(*)\n         FROM (\n             SELECT DISTINCT cik, as_of_date, fiscal_year, canonical_concept\n             FROM financial_analytics_silver.mart_peer_benchmark\n         ))\n\n    UNION ALL SELECT\n        'check_08_distinct_as_of_count',\n        CAST(10 AS bigint),\n        (SELECT COUNT(DISTINCT as_of_date) FROM financial_analytics_silver.mart_peer_benchmark)\n\n    UNION ALL SELECT\n        'check_09_canonical_concept_accepted_values',\n        (SELECT COUNT(*) FROM financial_analytics_silver.mart_peer_benchmark),\n        (SELECT COUNT(*)\n         FROM financial_analytics_silver.mart_peer_benchmark\n         WHERE canonical_concept IN ('revenue', 'net_income', 'assets'))\n\n    UNION ALL SELECT\n        'check_10_unit_constant_usd',\n        (SELECT COUNT(*) FROM financial_analytics_silver.mart_peer_benchmark),\n        (SELECT COUNT(*)\n         FROM financial_analytics_silver.mart_peer_benchmark\n         WHERE unit = 'USD')\n\n    UNION ALL SELECT\n        'check_11_record_source_constant',\n        (SELECT COUNT(*) FROM financial_analytics_silver.mart_peer_benchmark),\n        (SELECT COUNT(*)\n         FROM financial_analytics_silver.mart_peer_benchmark\n         WHERE record_source = 'mart.mart_peer_benchmark')\n\n    UNION ALL SELECT\n        'check_12_value_numeric_not_null',\n        (SELECT COUNT(*) FROM financial_analytics_silver.mart_peer_benchmark),\n        (SELECT COUNT(value_numeric) FROM financial_analytics_silver.mart_peer_benchmark)\n\n    UNION ALL SELECT\n        'check_13_peer_rank_within_bounds',\n        (SELECT COUNT(*) FROM financial_analytics_silver.mart_peer_benchmark),\n        (SELECT COUNT(*)\n         FROM financial_analytics_silver.mart_peer_benchmark\n         WHERE peer_rank BETWEEN 1 AND peer_count)\n\n    UNION ALL SELECT\n        'check_14_peer_percentile_within_bounds',\n        (SELECT COUNT(*) FROM financial_analytics_silver.mart_peer_benchmark),\n        (SELECT COUNT(*)\n         FROM financial_analytics_silver.mart_peer_benchmark\n         WHERE peer_percentile > 0.0 AND peer_percentile <= 1.0)\n\n    UNION ALL SELECT\n        'check_15_peer_count_consistent_per_partition',\n        (SELECT COUNT(*) FROM partition_counts),\n        (SELECT COUNT(*)\n         FROM partition_counts\n         WHERE derived_peer_count = stored_peer_count_min\n           AND derived_peer_count = stored_peer_count_max)\n\n    UNION ALL SELECT\n        'check_16_mart_hk_reproducible',\n        CAST(1 AS bigint),\n        (SELECT COUNT(*)\n         FROM apple_sample\n         WHERE mart_peer_benchmark_hk = to_hex(sha256(to_utf8(\n               CAST(cik AS varchar) || '||' ||\n               CAST(as_of_date AS varchar) || '||' ||\n               CAST(fiscal_year AS varchar) || '||' ||\n               CAST(canonical_concept AS varchar)\n           ))))\n\n    UNION ALL SELECT\n        'check_17_row_count_band',\n        CAST(1 AS bigint),\n        (SELECT CASE\n                  WHEN COUNT(*) BETWEEN 3000 AND 60000 THEN 1\n                  ELSE 0\n                END\n         FROM financial_analytics_silver.mart_peer_benchmark)\n)\n\nSELECT\n    check_name,\n    expected,\n    actual,\n    CASE WHEN expected = actual THEN 'PASS' ELSE 'FAIL' END AS result\nFROM checks\nORDER BY check_name;\n",
                "WorkGroup": "wg_financial_analytics",
                "QueryExecutionContext": {
                  "Catalog": "awsdatacatalog",
                  "Database": "financial_analytics_silver"
                }
              },
              "End": true
            }
          }
        },
        {
          "StartAt": "VerifyMartFinancialHealth",
          "States": {
            "VerifyMartFinancialHealth": {
              "Type": "Task",
              "Resource": "arn:aws:states:::athena:startQueryExecution.sync",
              "Parameters": {
                "QueryString": "-- sql/verify/15_phase4_marts_financial_health_verification.sql\n--\n-- Phase 4 session 3 \u2014 third Gold mart: mart_financial_health. Per-company\n-- annual ratios spanning income statement, balance sheet, and cash flow\n-- statement. Composite natural PK = (cik, as_of_date, fiscal_year); 9\n-- in-scope canonicals pivoted onto columns + 8 derived ratios.\n--\n-- Standalone re-runnable artefact \u2014 paste the whole thing into Athena\n-- Query Editor under workgroup wg_financial_analytics signed in as\n-- phil-admin, region us-east-1.\n--\n-- Checks 17 invariants on mart_financial_health:\n--\n--   1. mart_financial_health_hk is unique across all rows.\n--   2. mart_financial_health_hk is NOT NULL.\n--   3. mart_financial_health_hk is exactly 64 hex chars.\n--   4. FK closure to hub_company via cik.\n--   5. FK closure to dim_as_of_dates via as_of_date.\n--   6. Composite natural PK (cik, as_of_date, fiscal_year) is unique.\n--   7. Distinct as_of_date count = 10.\n--   8. cik NOT NULL across all rows.\n--   9. as_of_date NOT NULL across all rows.\n--  10. fiscal_year NOT NULL across all rows.\n--  11. entity_name NOT NULL across all rows.\n--  12. period_end_date NOT NULL across all rows.\n--  13. record_source constant 'mart.mart_financial_health'.\n--  14. At least one of revenue / assets reported on every row (rules\n--      out the pathological all-NULL row case).\n--  15. gross_margin finite when populated \u2014 between -100 and 1 (negative\n--      margins for distressed companies; >100% would indicate data error).\n--      Known-artifact exclusion: Salesforce (cik 0001108524) FY2010-2013\n--      reports gross_profit 2-7% above revenue \u2014 pre-ASC-606 revenue\n--      tagging mismatch where the GrossProfit tag is anchored to a\n--      multi-tag revenue base while sat_concept_value's value DESC\n--      collapse picks the largest single Revenues alias. 4 (cik, fy)\n--      tuples \u00d7 ~3 visible as_of_dates = 13 mart rows. Documented as\n--      Risk 49 (LEARNINGS, 2026-05-30). Excluded from the check denominator\n--      AND numerator so the structural invariant tests cleanly across\n--      the rest of the universe.\n--  16. Mart hash determinism on Apple's first (as_of_date, fiscal_year)\n--      tuple.\n--  17. Row count falls within prediction band [500, 12000] \u2014 ~100\n--      companies \u00d7 10 visible as_of_dates \u00d7 ~10 fiscal years\n--      order-of-magnitude with NULL-canonical attrition.\n\nWITH apple_sample AS (\n    SELECT\n        m.mart_financial_health_hk,\n        m.cik,\n        m.as_of_date,\n        m.fiscal_year\n    FROM financial_analytics_silver.mart_financial_health m\n    WHERE m.cik = '0000320193'\n    ORDER BY m.as_of_date, m.fiscal_year\n    LIMIT 1\n),\n\nchecks AS (\n\n    SELECT\n        'check_01_mart_hk_unique' AS check_name,\n        (SELECT COUNT(*) FROM financial_analytics_silver.mart_financial_health) AS expected,\n        (SELECT COUNT(DISTINCT mart_financial_health_hk) FROM financial_analytics_silver.mart_financial_health) AS actual\n\n    UNION ALL SELECT\n        'check_02_mart_hk_not_null',\n        (SELECT COUNT(*) FROM financial_analytics_silver.mart_financial_health),\n        (SELECT COUNT(mart_financial_health_hk) FROM financial_analytics_silver.mart_financial_health)\n\n    UNION ALL SELECT\n        'check_03_mart_hk_length_64',\n        (SELECT COUNT(*) FROM financial_analytics_silver.mart_financial_health),\n        (SELECT COUNT(*) FROM financial_analytics_silver.mart_financial_health WHERE length(mart_financial_health_hk) = 64)\n\n    UNION ALL SELECT\n        'check_04_mart_fk_closure_hub_company',\n        (SELECT COUNT(*) FROM financial_analytics_silver.mart_financial_health),\n        (SELECT COUNT(*)\n         FROM financial_analytics_silver.mart_financial_health m\n         INNER JOIN financial_analytics_silver.hub_company h\n           ON m.cik = h.cik)\n\n    UNION ALL SELECT\n        'check_05_mart_fk_closure_dim_as_of',\n        (SELECT COUNT(*) FROM financial_analytics_silver.mart_financial_health),\n        (SELECT COUNT(*)\n         FROM financial_analytics_silver.mart_financial_health m\n         INNER JOIN financial_analytics_silver.dim_as_of_dates d\n           ON m.as_of_date = d.as_of_date)\n\n    UNION ALL SELECT\n        'check_06_mart_composite_pk_unique',\n        (SELECT COUNT(*) FROM financial_analytics_silver.mart_financial_health),\n        (SELECT COUNT(*)\n         FROM (\n             SELECT DISTINCT cik, as_of_date, fiscal_year\n             FROM financial_analytics_silver.mart_financial_health\n         ))\n\n    UNION ALL SELECT\n        'check_07_distinct_as_of_count',\n        CAST(10 AS bigint),\n        (SELECT COUNT(DISTINCT as_of_date) FROM financial_analytics_silver.mart_financial_health)\n\n    UNION ALL SELECT\n        'check_08_cik_not_null',\n        (SELECT COUNT(*) FROM financial_analytics_silver.mart_financial_health),\n        (SELECT COUNT(cik) FROM financial_analytics_silver.mart_financial_health)\n\n    UNION ALL SELECT\n        'check_09_as_of_date_not_null',\n        (SELECT COUNT(*) FROM financial_analytics_silver.mart_financial_health),\n        (SELECT COUNT(as_of_date) FROM financial_analytics_silver.mart_financial_health)\n\n    UNION ALL SELECT\n        'check_10_fiscal_year_not_null',\n        (SELECT COUNT(*) FROM financial_analytics_silver.mart_financial_health),\n        (SELECT COUNT(fiscal_year) FROM financial_analytics_silver.mart_financial_health)\n\n    UNION ALL SELECT\n        'check_11_entity_name_not_null',\n        (SELECT COUNT(*) FROM financial_analytics_silver.mart_financial_health),\n        (SELECT COUNT(entity_name) FROM financial_analytics_silver.mart_financial_health)\n\n    UNION ALL SELECT\n        'check_12_period_end_date_not_null',\n        (SELECT COUNT(*) FROM financial_analytics_silver.mart_financial_health),\n        (SELECT COUNT(period_end_date) FROM financial_analytics_silver.mart_financial_health)\n\n    UNION ALL SELECT\n        'check_13_record_source_constant',\n        (SELECT COUNT(*) FROM financial_analytics_silver.mart_financial_health),\n        (SELECT COUNT(*)\n         FROM financial_analytics_silver.mart_financial_health\n         WHERE record_source = 'mart.mart_financial_health')\n\n    UNION ALL SELECT\n        'check_14_at_least_revenue_or_assets',\n        (SELECT COUNT(*) FROM financial_analytics_silver.mart_financial_health),\n        (SELECT COUNT(*)\n         FROM financial_analytics_silver.mart_financial_health\n         WHERE revenue IS NOT NULL OR assets IS NOT NULL)\n\n    UNION ALL SELECT\n        'check_15_gross_margin_finite_bounded',\n        (SELECT COUNT(*)\n         FROM financial_analytics_silver.mart_financial_health\n         WHERE gross_margin IS NOT NULL\n           AND NOT (cik = '0001108524' AND fiscal_year BETWEEN 2010 AND 2013)),\n        (SELECT COUNT(*)\n         FROM financial_analytics_silver.mart_financial_health\n         WHERE gross_margin IS NOT NULL\n           AND NOT (cik = '0001108524' AND fiscal_year BETWEEN 2010 AND 2013)\n           AND is_finite(gross_margin)\n           AND gross_margin BETWEEN -100 AND 1)\n\n    UNION ALL SELECT\n        'check_16_mart_hk_reproducible',\n        CAST(1 AS bigint),\n        (SELECT COUNT(*)\n         FROM apple_sample\n         WHERE mart_financial_health_hk = to_hex(sha256(to_utf8(\n               CAST(cik AS varchar) || '||' ||\n               CAST(as_of_date AS varchar) || '||' ||\n               CAST(fiscal_year AS varchar)\n           ))))\n\n    UNION ALL SELECT\n        'check_17_row_count_band',\n        CAST(1 AS bigint),\n        (SELECT CASE\n                  WHEN COUNT(*) BETWEEN 500 AND 12000 THEN 1\n                  ELSE 0\n                END\n         FROM financial_analytics_silver.mart_financial_health)\n)\n\nSELECT\n    check_name,\n    expected,\n    actual,\n    CASE WHEN expected = actual THEN 'PASS' ELSE 'FAIL' END AS result\nFROM checks\nORDER BY check_name;\n",
                "WorkGroup": "wg_financial_analytics",
                "QueryExecutionContext": {
                  "Catalog": "awsdatacatalog",
                  "Database": "financial_analytics_silver"
                }
              },
              "End": true
            }
          }
        },
        {
          "StartAt": "VerifyMartGrowthForecast",
          "States": {
            "VerifyMartGrowthForecast": {
              "Type": "Task",
              "Resource": "arn:aws:states:::athena:startQueryExecution.sync",
              "Parameters": {
                "QueryString": "-- sql/verify/16_phase4_marts_growth_forecast_verification.sql\n--\n-- Phase 4 session 4 \u2014 fourth Gold mart: mart_growth_forecast. Per-company\n-- annual revenue trajectory unifying historical observed values (from\n-- mart_pl_trend) and forward-looking 3-year forecasts (from\n-- scripts/forecast.py via the forecast_surface external table).\n-- Composite natural PK = (cik, canonical_concept, fiscal_year, as_of_date,\n-- row_kind). UNION ALL over historical + forecast legs.\n--\n-- Standalone re-runnable artefact \u2014 paste the whole thing into Athena\n-- Query Editor under workgroup wg_financial_analytics signed in as\n-- phil-admin, region us-east-1.\n--\n-- Checks 18 invariants on mart_growth_forecast:\n--\n--   1. mart_growth_forecast_hk is unique across all rows.\n--   2. mart_growth_forecast_hk is NOT NULL.\n--   3. mart_growth_forecast_hk is exactly 64 hex chars.\n--   4. FK closure to hub_company via cik.\n--   5. Composite natural PK (cik, canonical_concept, fiscal_year,\n--      as_of_date, row_kind) is unique.\n--   6. cik NOT NULL across all rows.\n--   7. fiscal_year NOT NULL across all rows.\n--   8. canonical_concept NOT NULL across all rows.\n--   9. row_kind NOT NULL across all rows.\n--  10. entity_name NOT NULL across all rows.\n--  11. record_source constant 'mart.mart_growth_forecast'.\n--  12. canonical_concept = 'revenue' across all rows (session 4 scope).\n--  13. row_kind IN ('historical', 'forecast') across all rows.\n--  14. Historical-leg rows: value_numeric IS NOT NULL AND forecast_value\n--      IS NULL.\n--  15. Forecast-leg rows: forecast_value IS NOT NULL AND value_numeric\n--      IS NULL.\n--  16. Forecast CIs are coherent: lower_ci_95 <= forecast_value <= upper_ci_95\n--      on every forecast row.\n--  17. Forecast horizon: forecast rows span exactly 3 distinct\n--      forecast_year values per company (3-year horizon).\n--  18. Row count falls within prediction band [10000, 40000] \u2014\n--      ~9,700 historical revenue rows from mart_pl_trend (post Risk 48\n--      filter, ~100 companies \u00d7 ~10 fiscal years \u00d7 10 as_of_dates) +\n--      ~300 forecast rows (~100 companies \u00d7 3 forecast years).\n\nWITH checks AS (\n\n    SELECT\n        'check_01_mart_hk_unique' AS check_name,\n        (SELECT COUNT(*) FROM financial_analytics_silver.mart_growth_forecast) AS expected,\n        (SELECT COUNT(DISTINCT mart_growth_forecast_hk) FROM financial_analytics_silver.mart_growth_forecast) AS actual\n\n    UNION ALL SELECT\n        'check_02_mart_hk_not_null',\n        (SELECT COUNT(*) FROM financial_analytics_silver.mart_growth_forecast),\n        (SELECT COUNT(mart_growth_forecast_hk) FROM financial_analytics_silver.mart_growth_forecast)\n\n    UNION ALL SELECT\n        'check_03_mart_hk_length_64',\n        (SELECT COUNT(*) FROM financial_analytics_silver.mart_growth_forecast),\n        (SELECT COUNT(*) FROM financial_analytics_silver.mart_growth_forecast WHERE length(mart_growth_forecast_hk) = 64)\n\n    UNION ALL SELECT\n        'check_04_mart_fk_closure_hub_company',\n        (SELECT COUNT(*) FROM financial_analytics_silver.mart_growth_forecast),\n        (SELECT COUNT(*)\n         FROM financial_analytics_silver.mart_growth_forecast m\n         INNER JOIN financial_analytics_silver.hub_company h\n           ON m.cik = h.cik)\n\n    UNION ALL SELECT\n        'check_05_mart_composite_pk_unique',\n        (SELECT COUNT(*) FROM financial_analytics_silver.mart_growth_forecast),\n        (SELECT COUNT(*)\n         FROM (\n             SELECT DISTINCT cik, canonical_concept, fiscal_year, as_of_date, row_kind\n             FROM financial_analytics_silver.mart_growth_forecast\n         ))\n\n    UNION ALL SELECT\n        'check_06_cik_not_null',\n        (SELECT COUNT(*) FROM financial_analytics_silver.mart_growth_forecast),\n        (SELECT COUNT(cik) FROM financial_analytics_silver.mart_growth_forecast)\n\n    UNION ALL SELECT\n        'check_07_fiscal_year_not_null',\n        (SELECT COUNT(*) FROM financial_analytics_silver.mart_growth_forecast),\n        (SELECT COUNT(fiscal_year) FROM financial_analytics_silver.mart_growth_forecast)\n\n    UNION ALL SELECT\n        'check_08_canonical_concept_not_null',\n        (SELECT COUNT(*) FROM financial_analytics_silver.mart_growth_forecast),\n        (SELECT COUNT(canonical_concept) FROM financial_analytics_silver.mart_growth_forecast)\n\n    UNION ALL SELECT\n        'check_09_row_kind_not_null',\n        (SELECT COUNT(*) FROM financial_analytics_silver.mart_growth_forecast),\n        (SELECT COUNT(row_kind) FROM financial_analytics_silver.mart_growth_forecast)\n\n    UNION ALL SELECT\n        'check_10_entity_name_not_null',\n        (SELECT COUNT(*) FROM financial_analytics_silver.mart_growth_forecast),\n        (SELECT COUNT(entity_name) FROM financial_analytics_silver.mart_growth_forecast)\n\n    UNION ALL SELECT\n        'check_11_record_source_constant',\n        (SELECT COUNT(*) FROM financial_analytics_silver.mart_growth_forecast),\n        (SELECT COUNT(*)\n         FROM financial_analytics_silver.mart_growth_forecast\n         WHERE record_source = 'mart.mart_growth_forecast')\n\n    UNION ALL SELECT\n        'check_12_canonical_revenue_only',\n        (SELECT COUNT(*) FROM financial_analytics_silver.mart_growth_forecast),\n        (SELECT COUNT(*)\n         FROM financial_analytics_silver.mart_growth_forecast\n         WHERE canonical_concept = 'revenue')\n\n    UNION ALL SELECT\n        'check_13_row_kind_accepted_values',\n        (SELECT COUNT(*) FROM financial_analytics_silver.mart_growth_forecast),\n        (SELECT COUNT(*)\n         FROM financial_analytics_silver.mart_growth_forecast\n         WHERE row_kind IN ('historical', 'forecast'))\n\n    UNION ALL SELECT\n        'check_14_historical_leg_columns_populated',\n        (SELECT COUNT(*) FROM financial_analytics_silver.mart_growth_forecast\n         WHERE row_kind = 'historical'),\n        (SELECT COUNT(*)\n         FROM financial_analytics_silver.mart_growth_forecast\n         WHERE row_kind = 'historical'\n           AND value_numeric IS NOT NULL\n           AND forecast_value IS NULL\n           AND lower_ci_95 IS NULL\n           AND upper_ci_95 IS NULL\n           AND model_name IS NULL)\n\n    UNION ALL SELECT\n        'check_15_forecast_leg_columns_populated',\n        (SELECT COUNT(*) FROM financial_analytics_silver.mart_growth_forecast\n         WHERE row_kind = 'forecast'),\n        (SELECT COUNT(*)\n         FROM financial_analytics_silver.mart_growth_forecast\n         WHERE row_kind = 'forecast'\n           AND forecast_value IS NOT NULL\n           AND value_numeric IS NULL\n           AND lower_ci_95 IS NOT NULL\n           AND upper_ci_95 IS NOT NULL\n           AND model_name IS NOT NULL)\n\n    UNION ALL SELECT\n        'check_16_forecast_ci_coherent',\n        (SELECT COUNT(*) FROM financial_analytics_silver.mart_growth_forecast\n         WHERE row_kind = 'forecast'),\n        (SELECT COUNT(*)\n         FROM financial_analytics_silver.mart_growth_forecast\n         WHERE row_kind = 'forecast'\n           AND lower_ci_95 <= forecast_value\n           AND forecast_value <= upper_ci_95)\n\n    UNION ALL SELECT\n        'check_17_forecast_horizon_3_years_per_company',\n        (SELECT COUNT(DISTINCT cik) FROM financial_analytics_silver.mart_growth_forecast\n         WHERE row_kind = 'forecast'),\n        (SELECT COUNT(*)\n         FROM (\n             SELECT cik\n             FROM financial_analytics_silver.mart_growth_forecast\n             WHERE row_kind = 'forecast'\n             GROUP BY cik\n             HAVING COUNT(DISTINCT fiscal_year) = 3\n         ))\n\n    UNION ALL SELECT\n        'check_18_row_count_band',\n        CAST(1 AS bigint),\n        (SELECT CASE\n                  WHEN COUNT(*) BETWEEN 10000 AND 40000 THEN 1\n                  ELSE 0\n                END\n         FROM financial_analytics_silver.mart_growth_forecast)\n)\n\nSELECT\n    check_name,\n    expected,\n    actual,\n    CASE WHEN expected = actual THEN 'PASS' ELSE 'FAIL' END AS result\nFROM checks\nORDER BY check_name;\n",
                "WorkGroup": "wg_financial_analytics",
                "QueryExecutionContext": {
                  "Catalog": "awsdatacatalog",
                  "Database": "financial_analytics_silver"
                }
              },
              "End": true
            }
          }
        }
      ],
      "End": true
    }
  }
}